<script>
	import { enhance } from '$app/forms';

    import MetaTags from '$components/MetaTags.svelte';
	import Header from '$components/Header.svelte';
	import FormErrorMessage from '$components/ui/FormErrorMessage.svelte';

    const { data } = $props();
    let isEditProfile = $state(false);
    let errorsArray = $state({});
    let isMe = data.profile?.id === data.user?.id;

    function editProfile () {
        isEditProfile = !isEditProfile;
    }
</script>

<MetaTags 
    title="{data.user.username} on CODTACMAP"
    description="Check {data.user.username} profile on CODTACMAP: social media, map notes, own map boards and more." />

<Header />

<div class="inner-wrap w-600">
    <div class="profile">
        <div class="profile-header-block">
            <div class="profile-username">
                {data.user.username}
            </div>
            {#if isMe}
            <button onclick={editProfile} class="profile-action as-link link-hover-effect">
                Modify
            </button>
            <a href="/username" class="profile-action as-link link-hover-effect">Edit username</a>
            {/if}
        </div>

        {#if isEditProfile && isMe}
        <div class="section">
            <div class="section-label">
                Edit profile
            </div>
            <div class="section-content">
                <form action="?/editProfile" method="POST" use:enhance={() => {
                    return async ({ result }) => {
                        if (result.type == 'success') {
                            isEditProfile = false;
                        }
                        errorsArray = result.data.form.errors
                    }
                }}>
                    <div class="row">
                        <label for="">Description</label>
                        <input maxlength="200" bind:value={data.user.description} type="text" name="description">
                        <FormErrorMessage message={errorsArray.description} />
                    </div>

                    <div class="row">
                        <label for="">Youtube channel</label>
                        <div class="field-wrap">
                            <span class="prefix">youtube.com/</span>
                            <input bind:value={data.user.youtube} name="youtube" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.youtube} />
                    </div>

                    <div class="row">
                        <label for="">Twitch channel</label>
                        <div class="field-wrap">
                            <span class="prefix">twitch.com/</span>
                            <input bind:value={data.user.twitch} name="twitch" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.twitch} />
                    </div>
                    <div class="row">
                        <label for="">Kick channel</label>
                        <div class="field-wrap">
                            <span class="prefix">twitch.com/</span>
                            <input bind:value={data.user.kick} name="kick" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.kick} />
                    </div>
                    <div class="row">
                        <label for="">Tiktok channel</label>
                        <div class="field-wrap">
                            <span class="prefix">tiktok.com/@</span>
                            <input bind:value={data.user.tiktok} name="tiktok" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.tiktok} />
                    </div>
                    <div class="row">
                        <label for="">Instagram channel</label>
                        <div class="field-wrap">
                            <span class="prefix">instagram.com/@</span>
                            <input bind:value={data.user.instagram} name="instagram" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.instagram} />
                    </div>
                    <div class="row">
                        <label for="">Custom link</label>
                        <div class="field-wrap">
                            <input bind:value={data.user.website} name="website" type="text">
                        </div>
                        <FormErrorMessage message={errorsArray.website} />
                    </div>

                    <div class="row">
                        <button class="btn" type="submit">
                            <span>Save</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
        {:else}
        <div class="section">
            <div class="section-content">
                {data.user.description}
            </div>
        </div>
        <div class="section">
            <div class="section-label">
                Stats
            </div>
            <div class="section-content">
                <ul class="profile-user-stats">
                    <li class="item">
                        <div class="label">Locations contributed</div>
                        <div class="value">{data.contributedMarkers}</div>
                        
                    </li>
                    <!-- <div class="item">
                        <div class="label">Likes</div>
                        <div class="value">{likes}</div>
                    </div> -->
                    <li class="item">
                        <div class="label">Public Boards</div>
                        <div class="value">{data.user.boards.length}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="section-label">
                Social info
            </div>
            <div class="section-content">
                <ul class="profile-socials-list">
                    {#if data.user.twitch}
                        <li class="item">
                            <span>Twitch</span>
                            <span>
                                <a target="_blank" href="https://www.twitch.tv/{data.user.twitch}">twitch.tv/{data.user.twitch}</a>
                            </span>
                        </li>
                    {/if}
                    {#if data.user.youtube}
                        <li class="item">
                            <span>Youtube</span>
                            <span>
                                <a target="_blank" href="https://www.youtube.com/@{data.user.youtube}">youtube.com/@{data.user.youtube}</a>
                            </span>
                        </li>
                    {/if}
                    {#if data.user.kick}
                        <li class="item">
                            <span>Kick</span>
                            <span>
                                <a target="_blank" href="https://kick.com/{data.user.kick}">kick.com/{data.user.kick}</a>
                            </span>
                        </li>
                    {/if}
                    {#if data.user.tiktok}
                        <li class="item">
                            <span>Tiktok</span>
                            <span>
                                <a target="_blank" href="https://www.tiktok.com/@{data.user.tiktok}">tiktok.com/@{data.user.tiktok}</a>
                            </span>
                        </li>
                    {/if}
                    {#if data.user.instagram}
                        <li class="item">
                            <span>Instagram</span>
                            <span>
                                <a target="_blank" href="https://www.instagram.com/{data.user.instagram}">instagram.com/@{data.user.instagram}</a>
                            </span>
                        </li>
                    {/if}
                    {#if data.user.website}
                        <li class="item">
                            <span>Website</span>
                            <span>
                                <a target="_blank" href="{data.user.website}">{data.user.website}</a>
                            </span>
                        </li>
                    {/if}
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="section-label">
                Boards
            </div>
            <div class="section-content no-pd">
                <ul class="profile-boards-list">
                    {#each data.user.boards as board}
                        <li class="item">
                            <div class="top-line">
                                <div class="name">{board.name}</div>
                                <div class="map">{board.maps.url}</div>
                                <div class="state">{board.is_public}</div>
                            </div>
                            <div class="description">{board.description}</div>
                        </li> 
                    {/each}
                </ul>
            </div>
        </div>
        {/if}
    </div>
</div>

<style lang="less">
    .profile {
        padding: 3em 0;
        color: #999;

        .profile-header-block {
            margin-bottom: 1.25em;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .profile-username {
            font-size: 2rem;
            color: #EEE;
            // text-transform: uppercase;
            letter-spacing: .1em;
            padding-bottom: 3px;
        }

        .profile-action {
            cursor: pointer;
        }

        .profile-edit-username {

        }

        .profile-user-stats {
            list-style-type: none;
            padding: 0;
            display: flex;

            .item {
                flex-basis: 100%;
                padding: 0 20px;

                & + .item {
                    border-left: 1px solid #1c1c1c;
                }
            }

            .label {
                color: #666;
            }

            .value {
                font-size: 3em;
            }
        }

        .profile-socials-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .item {
                display: flex;
                margin-bottom: .75em;

                span {
                    white-space: nowrap;

                    &:nth-of-type(1) {
                        order: 1;
                    }

                    &:nth-of-type(2) {
                        order: 3;
                    }

                    a {
                        color: inherit;
                        text-decoration: none;

                        &:hover {
                            color: #CCC;
                        }
                    }
                }


                &::before {
                    content: "";
                    width: 100%;
                    border-bottom: 1px dashed rgba(255, 255, 255, .07);
                    order: 2;
                    margin: 0 25px 4px;
                }

            }
        }

        .profile-boards-list {
            list-style-type: none;
            padding: 0;

            .item {
                border-top: 1px solid #1c1c1c;
                border-bottom: 1px solid #1c1c1c;
                padding: 15px 20px;        
                cursor: pointer;     
                
                &:hover {
                    .name {
                        color: #EEE;
                    }
                    .top-line, .description {
                        padding-left: 10px; 
                    }
                }

                & + .item {
                    border-top: none;
                }

                .top-line {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 0.35em;
                    transition: all .15s ease-in-out .05s;   
                }

                .name {
                    // font-size: 1.2em;
                }

                .map {
                    display: none;
                }

                .state {
                    display: none;
                }

                .description {
                    // font-size: .9em;
                    color: #555;
                    transition: all .15s ease-in-out .075s;   
                }
            }
        }

        .section {
            background-color: #101010;
            border: 1px solid #1c1c1c;
            border-radius: .25em;
            overflow: hidden;
            margin-top: 10px;

            .section-label {
                color: #444;
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: .9em;
                // margin-bottom: 15px;
                padding: 14px 14px 0;
            }

            .section-content {
                padding: 14px;

                &.no-pd {
                    padding: 0;
                }

            }

            & + .section {
                margin-top: 10px;
            }
        }
    }

    form {
        .row {
            & + .row {
                margin-top: 10px;
            }

            label {
                display: block;
                margin-bottom: 4px;
                color : #444;
            }

            .field-wrap {
                display: flex;
                flex-wrap: nowrap;

                span {
                    padding: 0 10px;
                    line-height: 36px;
                    background-color: #1a1a1a;
                    color: #555;
                    width: 200px;
                    text-align: right;
                }
            }

            input {
                background-color: #222;
                color: #AAA;
                border: none;
                height: 36px;
                padding: 0 14px;
                width: 100%;

                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }

</style>


