<script>
    // import '../style.css'
	import { page } from '$app/stores';
</script>

<div class="page-404">
    <div class="box">
        <div class="code">404</div>
        <h1>{$page.error.message}</h1>
    </div>
</div>


<style lang="less">
    .page-404 {
        width: 100vw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: .75;

        .box {

        }

        .code {
            font-size: 20rem;
            font-weight: bold;
        }
    }
</style>