<script>
    import { enhance } from '$app/forms';
    import { invalidateAll, goto } from '$app/navigation';

	import FormErrorMessage from '$components/ui/FormErrorMessage.svelte';
	import WindowInterfaceCard from '$components/ui/WindowInterfaceCard.svelte';

    const { data } = $props();
    let isLoading = $state(false);
    let errorsArray = $state({});
    let value = $state(data.profile.username || '');

    function cancelEditUsername () {
        goto(`/profile/${data.profile.username}`)
    }
</script>

<div class="page-wrap">
    <WindowInterfaceCard color="blue" title="Set Username">
        <form method="POST" use:enhance={() => {
            isLoading = true;
            
            return async ({ result }) => {
                isLoading = false;

                if (result.type === 'redirect') {
                    await invalidateAll();
                    goto(result.location);
                } else {
                    errorsArray = result.data.form?.errors;
                }                
            }
        }}>
            <div class="row">
                <label for="">Username</label>
                <input type="text" name="username" bind:value={value} required placeholder="Type username">
                <FormErrorMessage message={errorsArray.username} />
            </div>
            <div class="row btn-area">
                {#if value}
                <button type="button" class="btn -error" onclick={cancelEditUsername}>Cancel</button>
                {/if}
                <button class="btn" type="submit">
                    {#if isLoading}<span class="loader"></span>{/if}
                    <span>Set Username</span>
                </button>
            </div>
        </form>
    </WindowInterfaceCard>
</div>

<style lang="less">
    .page-wrap {
        width: 100vw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>