<script>
    import { page } from '$app/stores';
	import { fly, fade } from 'svelte/transition';

    import MetaTags from '$components/MetaTags.svelte';
    import Logo from '$components/ui/Logo.svelte';
	import CanvasPixelImage from '$components/ui/CanvasPixelImage.svelte';
	import GoogleAdSense from '$components/google/GoogleAdSense.svelte';
	import TypeEffect from '$components/ui/TypeEffect.svelte';

    let { url } = $page;
    let { data } = $props();
    let bottomLoading = $state(true);
    let globalDelay = 2500;
    let currentSentences = $state([]);
    let index = $state(0);
    let initLoad = $state(false);
    const sentences = ['INITIATING LOADING SEQUENCE', 'ASSEMBLING COMPONENTS', 'OVERRIDING OVERRIDES', 'SEQUENCE COMPLETE'];

    if (data.landingInit) {
        globalDelay = 0;
        bottomLoading = false;
    }

    // let globalDelay = data.landingInit ? 0 : 2500;
    let interval = setInterval(() => {
        if (index < sentences.length) {
            currentSentences.push(sentences[index]);
            index++;
        } else {
            clearInterval(interval);
            initLoad = true;
            bottomLoading = false;
        }
    }, globalDelay / sentences.length);

    $effect(() => {
        // initLoad = false;
        // bottomLoading = true;

        return () => {
            clearInterval(interval);
        }
    })
</script>

<MetaTags 
    title="Warzone Tac Map - Interactive Tactical Map of Warzone and Call of Duty."
    description="The most modern interactive tactical map for Warzone: battle royale, resurgence, dmz, and Call of Duty games: Modern Warfare III Zombies, etc."
    host={url.host} url={url.origin} 
/>

<div class="wrap">
    {#if initLoad}
    <div in:fade={{duration: 4000}} class="top-decor-line">
        <TypeEffect random={true} speed={999999999999} duration={2000}>warzone tac map</TypeEffect>
    </div>
    {/if}

    <aside>
        <header>
            <h1 class="logo-wrap">
                <Logo textOnly={true} />
            </h1>
        </header>
        <article>
            {#if initLoad}
                <ul class="extra-list">
                    {#each data.mapsList as item, index (item)}
                        <li onintrostart={e => requestAnimationFrame(() => e.currentTarget.style.opacity = 0)} 
                            in:fly|global={{ x: -15, delay: index * 100 }} class="item">
                            <a data-sveltekit-preload-data="tap" href="{item.url}">
                                <span class="value"><TypeEffect delay={index * 100}>{item.release}</TypeEffect></span>
                                <span class="title"><TypeEffect hover={true} delay={index * 100}>{item.name}</TypeEffect></span>
                            </a>
                        </li>  
                    {/each}
                </ul>
            {/if}

        </article>


        {#if bottomLoading}
        <div class="logo-loading-block">
            {#each currentSentences as sentence, index}
                <div class:last={index === 3} in:fly={{ y: 20}} out:fade|global={{duration: 100, delay: index * 100}}>
                    {sentence}
                </div>
            {/each}
        </div>
        {/if}
    </aside>

    <main>
        <div class="landing-content">
            <h2><TypeEffect delay={globalDelay + 1000} speed={300}>About warzone tactical map</TypeEffect></h2>
            <p><TypeEffect speed={300} delay={globalDelay + 1250}>The most modern interactive tactical map for: <strong>Warzone</strong> Battle Royale, <strong>Modern Warfare III Zombies</strong> and <strong>DMZ</strong>. Our main principle is to provide the best and most user-friendly service.</TypeEffect></p>
            <p><TypeEffect speed={300} delay={globalDelay + 1500}>We're not just the first to revolutionize the tactical map experience – we're the best at it. </TypeEffect></p>
            <p><TypeEffect speed={300} delay={globalDelay + 1750}>Welcome to the front line of strategic planning.</TypeEffect><br>
                <TypeEffect speed={300} delay={globalDelay + 2000}>Welcome to Warzone Tac Map.</TypeEffect></p>
        </div>

        <nav class="maps-list-wrap">
            <ul class="maps-list">
                {#each data.mapsList as {url, preview, name, is_enabled}, index}
                <li style="transition-delay: {index * 100}ms;" class="item" class:loaded={!initLoad} class:not-enabled={!is_enabled}>
                    <div class="inside-wrap">
                        <a data-sveltekit-preload-data="tap" href="{data.lang}/maps/{url}">
                            <div class="name">
                                <span>{name}</span>
                            </div>
                            <div class="preview">
                                <CanvasPixelImage url={preview} />
                            </div>
                        </a>
                    </div>
                </li> 
                {/each}
            </ul>
        </nav>

    </main>
</div>


<style lang="less">
    .logo-loading-block {
        // margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: flex-end;

        font-size: 11px;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 20px;

        div {
            padding: 6px 0;
            // opacity: 0;
            // background-color: red;
            // background-color: #A0A0A0;
            // color: #000;
            &.last {
                background-color: var(--brand-blue);
                color: #FFF;
                padding: 6px 6px;
            }
            &:empty {
                display: none;
            }
        }
    }


    .top-decor-line {
        text-transform: uppercase;
        font-size: 7vw;
        font-weight: bold;
        // top: -50%;
        letter-spacing: 2vw;
        line-height: 1;
        // transform: translate(0, -50%);
        // position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        color: #FFF;
        background-color: var(--brand-blue);
        // grid-area: 1 / 1 / 2 / 3;
        // height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // margin-top: -65px;
        position: absolute;
        top: 0;
        transform: translate(0, -65%);

        background: repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, .1),
            rgba(255, 255, 255, .1) 4px,
            transparent 4px,
            transparent 8px
        );
        color: #505050;


        // top: -50%;
        // transform: translate(0, -65%);
        // margin-top: -55px;   

        // @media screen and (max-width: 1400px) {
        //     font-size: 75px;
        // }
        // @media screen and (max-width: 1000px) {
        //     font-size: 55px;
        // }
        // @media screen and (max-width: 720px) {
        //     font-size: 24px;
        // }
    }

    .wrap {
        --top-space: 10vh;

        display: grid;
        grid-template-columns: 320px auto;
        grid-template-rows: 1fr;
        min-height: 100dvh;
        overflow-x: hidden;
        padding-top: 2.5vw;
        // padding-top: 10vh;
    }

    aside {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        header {
            height: var(--top-space);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            h1 {
                font-weight: normal;
                font-size: var(--font-size-base);
                letter-spacing: .025em;
            }
        }

    }

    main {
        display: flex;
        flex-direction: column ;
        justify-content: flex-start;
        align-items: center;
        margin-top: var(--top-space);
        // color: #AAA;


        h2 {
            margin: 0 0 5px;
            font-size: 0.8em;
            color: #505050;

            &::before {
                // content: "/// ";
            }
        }

        .landing-content {
                            // display: flex;
                // justify-content: center;
                // align-items: center;
                // height: 100%;
                max-width: 600px;
                width: 90%;
                transition: all 0.4s linear;
        }
    }

    .extra-list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;

        .item {
            a {
                line-height: 1;
                padding: 8px 0;
                display: flex;
                // grid-template-columns: 1fr 1fr;
                // justify-content: space-between;
                align-items: center;
                text-decoration: none;
            }

            &::before {
                content: "";
                width: 6px;
                height: 12px;
                background-color: #E0E0E0;
                position: absolute;
                left: -6px;
                top: 50%;
                transform: translate(-100%, -50%);
                opacity: 0;
                // animation: mouse 1s forwards linear;
                
            }

            @keyframes mouse {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
                
            }

            &:hover {
                &::before {
                    // opacity: 1;
                    animation: mouse .25s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
                }

                .value {
                    color: #F0F0F0;
                }
            }

            & + .item {
                margin-top: 5px;
            }

            // display: none;
            // opacity: 0;

            .title {
                // font-weight: 500;
                color: #F0F0F0;
            }

            .value {
                text-align: right;
                color: #606060;
            }
        }
    }
    

    .maps-list-wrap {
        max-width: 600px;
        width: 90%;
        margin-top: 4vh;
    }

    .maps-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 20px;

        .item {
            margin: 0;
            position: relative;

            transition: all 0.2s linear;
            transform: translate(0, 0);

            &.loaded {
                opacity: 0;
                transform: translate(-20px, 0);
            }
            
            .inside-wrap {
                // border: 1px solid #A0A0A0;
                background-color: #A0A0A0;
                transition: all .05s linear;
                padding: 1px;
                


                .name {
                    // background-color: #A0A0A0;
                    text-align: center;
                    color: #000;
                    padding: 4px 0;

                    line-height: 1;
                    background-image: url('/assets/images/pattern.png');
                    display: flex;
                    justify-content: center;
                    // font-weight: bold;

                    span {
                        background-color: #BBB;
                        padding: 2px 12px;

                    }   
                }

                .preview {
                    background-color: #000;
                                        // width: 100%;
                        position: relative;
                        // margin: 10px;
                        box-sizing: border-box;
                        // overflow: hidden;
                        aspect-ratio: 1/1;
                        // background-color: #333;
                }
                
            }

            &:hover {
                z-index: 5;
                .inside-wrap {
                    transform: scale(1.5);
                    // mask-image: url('/assets/images/mask/v1/mask_1.png');
                    // mask-repeat: no-repeat;
                    // mask-position: center;
                    // animation: mask .5s 1 forwards linear;

                    // border-color: var(--brand-blue);
                    background-color: var(--brand-blue);

                    .name {
                        span {
                            background-color: var(--brand-blue);
                            color: #FFF;
                        }
                    }
                }

                .name {
                    // background-color: var(--brand-blue);
                }
            }


            @keyframes mask {
                0% {
                    mask-image: url('/assets/images/mask/v1/mask_1.png');
                }
                20% {
                    mask-image: url('/assets/images/mask/v1/mask_2.png');
                }
                40% {
                    mask-image: url('/assets/images/mask/v1/mask_3.png');
                }
                60% {
                    mask-image: url('/assets/images/mask/v1/mask_4.png');
                }
                80% {
                    mask-image: url('/assets/images/mask/v1/mask_5.png');
                }
                100% {
                    mask-image: url('/assets/images/mask/v1/mask_6.png');
                }
            }

            @keyframes mask2 {
                0% {
                    mask-image: url('/assets/images/mask/v1/mask_1.png');
                }
                10% {
                    mask-image: url('/assets/images/mask/v1/mask_2.png');
                }
                20% {
                    mask-image: url('/assets/images/mask/v1/mask_3.png');
                }
                30% {
                    mask-image: url('/assets/images/mask/v2/mask_4.png');
                }
                40% {
                    mask-image: url('/assets/images/mask/v2/mask_5.png');
                }
                50% {
                    mask-image: url('/assets/images/mask/v2/mask_6.png');
                }
                60% {
                    mask-image: url('/assets/images/mask/v2/mask_7.png');
                }
                70% {
                    mask-image: url('/assets/images/mask/v2/mask_8.png');
                }
                80% {
                    mask-image: url('/assets/images/mask/v2/mask_9.png');
                }
                100% {
                    mask-image: url('/assets/images/mask/v2/mask_9.png');
                }
            }

            // transition: all 0.3s linear;
            // transform: scale(1);

            a {
                text-decoration: none;
            }
            
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            image-rendering: pixelated;
        }
    }


    @media screen and (max-width: 900px) {
        .wrap {
            // display: block;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr;

            .top-decor-line {
                // grid-area: 1 / 1 / 2 / 2;
                // display: none;
                // margin-top: -10px;
            }
        }

        aside, main {
            padding: 0 35px;
        }

        main {
            align-items: flex-start;
            margin-top: initial;
        }

        aside {
            article {
                display: none;
            }
        }

        .maps-list-wrap {
            width: 100%;
        }

        .maps-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

</style>

    
<!-- <div class="wrap">

    <div class="top-banner">
        <TypeEffect random={true} speed={999999999999} duration={2000}>warzone tac map</TypeEffect>
    </div>

    <aside>
        <header>
            <h1 class="logo-wrap" class:loading={!startLoading}>
                <Logo />
            </h1>
        </header>
        <article>

            {#if startLoading}
            <ul class="extra-list">
                {#each data.mapsList as item, index (item)}
                    <li onintrostart={e => requestAnimationFrame(() => e.currentTarget.style.opacity = 0)} in:fly|global={{ x: -15, delay: index * 100 + 4500 }} class="item">
                        <span class="title"><TypeEffect hover={true} delay={index * 100 + 4000}>{item.name}</TypeEffect></span>
                        <span class="value"><TypeEffect delay={index * 100 + 4000}>{item.release} | {item.maps_views[0]?.count}</TypeEffect></span>
                    </li>  
                    
                {/each}
            </ul>

            {/if}

        </article>
    </aside>
    <main>

            <div class="landing-content">
            <h2><TypeEffect>About warzone tactical map</TypeEffect></h2>
            <p><TypeEffect speed={500} delay={1000}>The most modern interactive tactical map for: <strong>Warzone</strong> Battle Royale, <strong>Modern Warfare III Zombies</strong> and <strong>DMZ</strong>. Our main principle is to provide the best and most user-friendly service.</TypeEffect></p>
            <p><TypeEffect speed={500} delay={1500}>We're not just the first to revolutionize the tactical map experience – we're the best at it. </TypeEffect></p>
            <p><TypeEffect speed={500} delay={2000}>Welcome to the front line of strategic planning.</TypeEffect><br><TypeEffect speed={500} delay={2000}>Welcome to Warzone Tac Map.</TypeEffect></p>
        </div>

        <nav class="maps-list-wrap">
            <ul class="maps-list">
                {#each data.mapsList as {url, preview, name, is_enabled}, index}
                <li style="transition-delay: {index * 100 + 3000}ms;" class="item" class:loaded={!startLoading} class:not-enabled={!is_enabled}>
                    <div class="inside-wrap">
                        <a data-sveltekit-preload-data="tap" href="{data.lang}/maps/{url}">
                            <div class="name">
                                <span>{name}</span>
                            </div>
                            <div class="preview">
                                <CanvasPixelImage url={preview} />
                            </div>
                        </a>
                    </div>
                </li> 
                {/each}
            </ul>
        </nav>

    </main>
    <aside></aside>
</div> -->

<!-- <style lang="less">
    body {

    }



    .loading-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--bg-color);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            // font-size: 2em;
            color: var(--brand-color);
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 11px;
        }

        .logo {
            // width: 600px;
            aspect-ratio: 1;
            margin-top: -100px;

            img {
                width: 100%;
            }
        }
    }


    .wrap {
        --top-space: 10vh;


        display: grid;
        grid-template-columns: 320px auto;
        grid-template-rows: auto 1fr;
        height: 100dvh;


        .top-banner {
            text-transform: uppercase;
            font-size: 100px;
            font-weight: bold;
            // top: -50%;
            letter-spacing: 2vw;
            line-height: 1;
            // transform: translate(0, -50%);
            left: 0;
            right: 0;
            text-align: center;
            color: #FFF;
            background-color: var(--brand-blue);
            grid-area: 1 / 1 / 2 / 3;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -55px;
        }
        header {
            // background-color: rgba(255, 255, 0, 0.089);
            height: var(--top-space);
            display: flex;
            align-items: center;

            .logo-wrap {
                all: unset;
                /* Adjust the animation duration to 2s to accommodate the pause */
                
                // border: 1px solid red;
                line-height: 1;
                display: inline-block;
                font-size: 0;

                &.loading {
                    animation: rotateAndPause 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
                }
            }

            @keyframes rotateAndPause {
                0%, 50% {
                    /* Start at 0 degrees and rotate to 360 degrees by the halfway point */
                    transform: rotate(0deg);
                }
                25% {
                    /* Complete the rotation by 25% of the animation duration */
                    transform: rotate(360deg);
                }
                50%, 100% {
                    /* From 50% to 100%, keep the rotation at 360 degrees (effectively pausing) */
                    transform: rotate(360deg);
                }
            }

            // transition: all .3s linear;
            // opacity: 1;

            // &.loaded {
            //     transform: translate(-100%, 0);
            //     opacity: 0;
            // }
        }

        .extra-list {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 13px;

            .item {
                display: flex;
                // grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                align-items: center;

                & + .item {
                    margin-top: 10px;
                }

                // display: none;
                // opacity: 0;

                .title {
                    // font-weight: 500;
                    color: #DDD;
                }

                .value {
                    text-align: right;
                }
            }
        }

        

        aside {
            // margin-top: 10vh;
            padding: 0 20px;

            .social {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .label {
                    // color:
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                li {
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: #E0E0E0;
                    }
                }
            }
        }

        main {
            // background-color: rgba(255, 0, 0, 0.151);
            display: flex;
            flex-direction: column ;
            justify-content: flex-start;
            align-items: center;
            margin-top: var(--top-space);
            color: #AAA;


            h2 {
                margin: 0 0 5px;
                font-size: 0.8em;
                color: #505050;

                &::before {
                    content: "/// ";
                }
            }


            .landing-content {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // height: 100%;
                max-width: 600px;
                width: 90%;
                transition: all 0.4s linear;

                &.loading {
                    opacity: 0;
                    transform: translate(0, -50px);
                }
                

                p {
                    margin: 1.65em 0;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                // background-color: yellow;
            }

            .maps-list-wrap {
                max-width: 600px;
                width: 90%;
                margin-top: 4vh;
            }

            .maps-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin: 0;
                padding: 0;
                list-style: none;
                gap: 20px;

                .item {
                    margin: 0;
                    position: relative;

                    transition: all 0.2s linear;
                    transform: translate(0, 0);

                    &.loaded {
                        opacity: 0;
                        transform: translate(-20px, 0);
                    }
                    
                    .inside-wrap {
                        // border: 1px solid #A0A0A0;
                        background-color: #A0A0A0;
                        transition: all .05s linear;
                        padding: 1px;
                        


                        .name {
                            // background-color: #A0A0A0;
                            text-align: center;
                            color: #000;
                            padding: 4px 0;

                            line-height: 1;
                            background-image: url('/assets/images/pattern.png');
                            display: flex;
                            justify-content: center;
                            // font-weight: bold;

                            span {
                                background-color: #BBB;
                                padding: 2px 12px;

                            }   
                        }

                        .preview {
                            background-color: #000;
                                                // width: 100%;
                                position: relative;
                                // margin: 10px;
                                box-sizing: border-box;
                                // overflow: hidden;
                                aspect-ratio: 1/1;
                                // background-color: #333;
                        }
                        
                    }

                    &:hover {
                        z-index: 5;
                        .inside-wrap {
                            transform: scale(1.5);
                            // mask-image: url('/assets/images/mask/v1/mask_1.png');
                            // mask-repeat: no-repeat;
                            // mask-position: center;
                            // animation: mask .5s 1 forwards linear;

                            // border-color: var(--brand-blue);
                            background-color: var(--brand-blue);

                            .name {
                                span {
                                    background-color: var(--brand-blue);
                                    color: #FFF;
                                }
                            }
                        }

                        .name {
                            // background-color: var(--brand-blue);
                        }
                    }


                    @keyframes mask {
                        0% {
                            mask-image: url('/assets/images/mask/v1/mask_1.png');
                        }
                        20% {
                            mask-image: url('/assets/images/mask/v1/mask_2.png');
                        }
                        40% {
                            mask-image: url('/assets/images/mask/v1/mask_3.png');
                        }
                        60% {
                            mask-image: url('/assets/images/mask/v1/mask_4.png');
                        }
                        80% {
                            mask-image: url('/assets/images/mask/v1/mask_5.png');
                        }
                        100% {
                            mask-image: url('/assets/images/mask/v1/mask_6.png');
                        }
                    }

                    @keyframes mask2 {
                        0% {
                            mask-image: url('/assets/images/mask/v1/mask_1.png');
                        }
                        10% {
                            mask-image: url('/assets/images/mask/v1/mask_2.png');
                        }
                        20% {
                            mask-image: url('/assets/images/mask/v1/mask_3.png');
                        }
                        30% {
                            mask-image: url('/assets/images/mask/v2/mask_4.png');
                        }
                        40% {
                            mask-image: url('/assets/images/mask/v2/mask_5.png');
                        }
                        50% {
                            mask-image: url('/assets/images/mask/v2/mask_6.png');
                        }
                        60% {
                            mask-image: url('/assets/images/mask/v2/mask_7.png');
                        }
                        70% {
                            mask-image: url('/assets/images/mask/v2/mask_8.png');
                        }
                        80% {
                            mask-image: url('/assets/images/mask/v2/mask_9.png');
                        }
                        100% {
                            mask-image: url('/assets/images/mask/v2/mask_9.png');
                        }
                    }

                    // transition: all 0.3s linear;
                    // transform: scale(1);

                    a {
                        text-decoration: none;
                    }
                    
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    image-rendering: pixelated;
                }
            }
        }
    }
</style> -->
