<script>
	
	import { setContext } from 'svelte';

	import Sidebar from '$components/Sidebar.svelte';
	import MapOpenLayers from '$components/MapOpenLayers.svelte';
	import PopupForm from '$components/PopupForm.svelte';
	import MetaTags from '../../../../components/MetaTags.svelte';

    import { SidebarNavStore } from '$lib/SidebarNavStore.svelte';
    import { MapSettingsStore } from '$lib/MapSettingsStore.svelte.js';
	import { MapMarkersStore } from '$lib/MapMarkersStore.svelte';

    const { data } = $props();

    // Сетимо дані в реактивний глобальний store.
    SidebarNavStore.list = data.sidebarNavList
    MapSettingsStore.data = data.sidebarNavSettings
    MapMarkersStore.list = data.markersData

    setContext('mapData', data.mapData);
    // setContext('groupedMarkers', data.markersData);
    setContext('icons', data.icons);
    setContext('sidebarFilter', data.sidebarFilter)

</script>

<MetaTags title={data.mapData.title} description={data.mapData.description} ogImage={data.mapData.ogImage} />

<Sidebar />

<MapOpenLayers />

<PopupForm />


