<script>
    let loaded = $state(false);

    let test;

    $effect(() => {
        // (window.adsbygoogle = window.adsbygoogle || []).push({});
        // console.log('tttt', window.adsbygoogle)
        (window.adsbygoogle = window.adsbygoogle || []).push({});
        if (window.adsbygoogle ) {
            loaded = true;
        }
        
    })
</script>


<svelte:head>
    <script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5614477279953775"
    crossorigin="anonymous"></script>
</svelte:head>
{loaded}

<!-- {#if loaded}

{/if} -->
<!-- sidebar -->
<div class="ads">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5614477279953775"
     data-ad-slot="1415026276"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
</div>

<style lang="less">
    .ads {
        width: 300px;
        background-color: yellow;
    }
</style>
