<script>
	import TypeEffect from './../ui/TypeEffect.svelte';
	// import { page } from '$app/stores';
	import { enhance } from '$app/forms';

	import { MapSettingsStore } from '$lib/MapSettingsStore.svelte.js';
	import { X } from 'lucide-svelte';
	// import { getContext, setContext } from 'svelte';
	// import { Filter, Skull } from 'lucide-svelte';

	// import SidebarNavGroup from './SidebarNavGroup.svelte';
	// import SidebarNavGroupSettings from './SidebarNavGroupSettings.svelte';
	let formSidebarNav = $state(null);

	let mapSettings = MapSettingsStore;

	function handleFormSidebarNav() {
		formSidebarNav.requestSubmit();
	}
</script>

<div class="sidebar-nav-block">
	<form
		bind:this={formSidebarNav}
		onchange={handleFormSidebarNav}
		action="?/sidebarNavSettings"
		method="POST"
		use:enhance={() => {
			return async ({ update }) => {
				update({ reset: false });
			};
		}}
	>	
	<!-- <SidebarNavGroupSettings list={groupedNavList} access="settings" /> -->
	{#each Object.keys(mapSettings.data) as key}
		<div class="item">
			<label for={key}>
				<input id={key} type="checkbox" bind:checked={mapSettings.data[key]} name="{key}">
				<div class="wrap">
					<TypeEffect hover={true}>{key}</TypeEffect>
					<div class="checkbox">
						<X strokeWidth={4} size={12} />
					</div>
				</div>
			</label>
		</div>
	{/each}
	</form>
</div>

<style lang="less">
	.sidebar-nav-block {
		margin: 30px 0;

		.item {
			& + .item {
				margin-top: 3px;
			}
		}

		label {
			color: #777;
			
			vertical-align: middle;
			font-size: 14px;
			font-weight: 400;
			cursor: pointer;
			transition: background 0.2s ease;
			cursor: pointer;
            position: relative;	
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			width: 100%;
			position: relative;

			&:hover {
				color: #666;

				svg {
					opacity: .25;
				}

				.wrap {
					

					&::before {
						width: 100%;
						opacity: 1;
						
					}
				}
			}

			.wrap {
				width: 100%;
				position: relative;
				// padding: 7px 5px 7px 10px;
				// display: flex;
				// align-items: center;
				// width: 100%;
				// border-radius: 2px;
				// border-radius: 4px;

				:global(& > span:not(.checkbox)) {
					display: block;
					width: 100%;
					padding: 10px 12px;
					position: relative;
					z-index: 100;
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 0;
					background-color: rgba(200, 200, 200, 1);
					// background-color: red;
					transition: all .1s ease-out;
					z-index: -1;
				}
			}


			.checkbox {
					// display: none;
					display: flex;
					align-items: center;
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translate(0, -50%);

					:global(svg) {
						margin: 0 -3px;
						opacity: 0;
					}

					&::before, &::after {
						line-height: 1;
						// letter-spacing: -4px;
					}

					&::before {
						content: "["
					}

					&::after {
						content: "]"
					}
				}

			input[type="checkbox"] {
				display: none;
			}

			span {
				display: block;
				line-height: 1;
			}

			input[type="checkbox"] {
				display: none;

				&:checked {
					& ~ span {
						color: #999;
					}

					& ~ .wrap {
						background-color: #0b00a0;
						color: #F0F0F0;

						.checkbox {

							:global(svg) {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.sidebar-nav-filter {
		display: grid;
		grid-template-columns: auto 38px;
		gap: 10px;
		width: 100%;

		input {
			background-color: #0E0E0E;
			border: 1px solid lighten(#0E0E0E, 5%);
			color: #999;
			padding: 0 15px;
			// line-height: 36px;
			height: 38px;
			// font-family: 'Roboto Mono';
			&:focus {
				border: 1px solid #333;
				outline: none;
			}
		}

		button {
			text-align: center;
			aspect-ratio: 1;
			height: 38px;
			background-color: #222;
			color: #999;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}

		.dropdown {
			background-color: #0a0a0a;
			color: #808080;
			width: 240px;
			border: 1px solid #222;
			position: absolute;
			top: calc(100% + 10px);
			right: 0;
			border-radius: 3px;
			overflow: hidden;
			padding: 4px 0 0;
			z-index: 2;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			gap: 5px;
			padding: 10px;

			label {
				display: block;
				// flex-basis: 100%;
				cursor: pointer;

				span {
					background-color: #222;
					color: #777;
					text-align: center;
					padding: 10px 0;
					text-align: center;
					display: block;
					opacity: 0.5;
				}

				input {
					display: none;

					&:checked {
						& ~ span {
							opacity: 1;
						}
					}
				}

				// &:first-of-type {
				// 	span {
				// 		border-radius: 2px 0 0 2px;
				// 	}
				// }

				// &:last-of-type {
				// 	span {
				// 		border-radius: 0 2px 2px 0;
				// 	}
				// }
			}
		}

		// display: flex;
		// flex-wrap: nowrap;
		// align-items: center;
		// background-color: #000;
		// border: 1px solid #111;
		// padding: 4px;
		// border-radius: 2px;
		// gap: 5px;
		// font-size: 12px;
	}
</style>
