<script>
	import { getContext } from "svelte";
	import { 
		mapMarkers, 
		mapVectorLayers,
		storeMapSettings} from "../../lib/stores";
	import TextEffect from "../ui/TextEffect.svelte";
	import { SidebarNavStore } from "$lib/SidebarNavStore.svelte";
	import TextCustomEffect from "../ui/TextCustomEffect.svelte";
	import TypeEffect from "../ui/TypeEffect.svelte";

	import { X } from 'lucide-svelte';

    const { item } = $props();

</script>

<div class="item">
	<label for={item.code_name}>
		<!-- <svg width="20" height="20" viewBox="0 0 159 159" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M28 37V94H140.5" stroke="white" stroke-width="22"/>
		</svg> -->
		<input type="checkbox"
			id={item.code_name}
			name={item.code_name}
			onchange={() => SidebarNavStore.toggle(item.code_name)}
			checked={item.visible}
		>
		<div class="wrap">
			<!-- <TextEffect mode="scramble" {delay}><span class="title">{item.code_name}</span></TextEffect> -->
			<TypeEffect hover={true}>{item.name}</TypeEffect>
			<!-- <div class="layer-mode-list">
				{#each item.mode as modeItem}
					<i class="{modeItem}"></i>
				{/each}
			</div> -->
			<div class="checkbox">
				<X strokeWidth={4} size={12} />
			</div>
		</div>
	</label>
</div>

<style lang="less">


	.item {
		margin-bottom: 5px;

	}
	label {
			// background-color: rgba(255, 255, 255, 0.03);
			color: #777;
			
			vertical-align: middle;
			font-size: 14px;
			font-weight: 400;
			cursor: pointer;
			transition: background 0.2s ease;
			cursor: pointer;
            position: relative;	
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			width: 100%;
			position: relative;

			.group-details {
				position: absolute;
				left: 101%;
				top: 0;
				background-color: #FFF;
				padding: 10px;
				z-index: 1000;
			}

			svg {
				opacity: .1;
				margin-right: 5px;
			}


			.title {
				line-height: 1;
				margin-bottom: 3px;
			}


			.wrap {
				width: 100%;
				position: relative;
				// padding: 7px 5px 7px 10px;
				// display: flex;
				// align-items: center;
				// width: 100%;
				// border-radius: 2px;
				// border-radius: 4px;
				

				:global(& > span:not(.checkbox)) {
					display: block;
					width: 100%;
					padding: 4px 12px;
					position: relative;
					z-index: 100;
				}

				.checkbox {
					// display: none;
					display: flex;
					align-items: center;
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translate(0, -50%);

					:global(svg) {
						margin: 0 -3px;
						opacity: 0;
					}

					&::before, &::after {
						line-height: 1;
						// letter-spacing: -4px;
					}

					&::before {
						content: "["
					}

					&::after {
						content: "]"
					}
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 0;
					background-color: rgba(200, 200, 200, 1);
					// background-color: red;
					transition: all .1s ease-out;
					z-index: -1;
				}
			}

			&:hover {
				color: #666;

				svg {
					opacity: .25;
				}

				.wrap {
					

					&::before {
						width: 100%;
						opacity: 1;
						
					}
				}
			}

			.range {
				width: 100%;
				display: block;
			}


			input[type="checkbox"] {
				display: none;

				&:checked {
					& ~ span {
						color: #999;
					}

					& ~ .wrap {
						background-color: #0b00a0;
						color: #F0F0F0;

						.checkbox {

							:global(svg) {
								opacity: 1;
							}
						}
					}
				}
			}


			.layer-mode-list {
				margin-left: 10px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 4px;
				i {
					font-size: 0;
					width: 6px;
					aspect-ratio: 1/1;
					border-radius: 50%;
					display: block;
					position: relative;
					// border: 1px solid #000;

					
					& + i {
						// margin-left: 2px;
					}


					&.br {
						background-color: #744602;
					}
					&.dmz {
						background-color: rgb(2, 99, 2);
					}
					&.resurgence {
						background-color: #17499d;
					}
					&.zombie {
						background-color: #681829;
					}
				}
			}
            .copy-marker-layer {
				display: none;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate(0, -40%);
                opacity: 0;
                img {
                    width: 20px;
                }
            }
		}
</style>
