<script>
	import { page } from '$app/stores';
	import { enhance } from '$app/forms';
	import { SidebarNavStore } from '$lib/SidebarNavStore.svelte';
	import Sidebar from '../Sidebar.svelte';
	import Square from '../googleAds/Square.svelte';
	import SidebarNewItem from '../ui/SidebarNewItem.svelte';
	import SidebarNavItem from './SidebarNavItem.svelte';

	import { X, Filter } from 'lucide-svelte';
	import { getContext } from 'svelte';

	const sidebarFilter = getContext('sidebarFilter');

	let { profile, session, accessRole } = $page.data;

	let filterDropdownVisible = $state(false);
	let list = SidebarNavStore.list;
	let modeFilterList = $state([]);
	let modeList = generateModes();

	let formSidebarNav, formSidebarFilter;
	let formFilterInput = $state('');
	let navList = $derived.by(() => {
		return prepareNavList(list.filter(item => {
			return item.name.toLowerCase().includes(formFilterInput.toLowerCase()) && item.mode.some(element => modeFilterList.includes(element));
		}))
	});

	function generateModes () {
		const uniqueModes = new Set();

		list.forEach(item => {
			if (item.mode && item.mode.length > 0) {
				item.mode.forEach(mode => uniqueModes.add(mode));
			}
		});

		if (sidebarFilter) {
			console.log(sidebarFilter)
			modeFilterList = sidebarFilter
		} else {
			modeFilterList = Array.from(uniqueModes)
		}
		

		return Array.from(uniqueModes);
	}
	

	function prepareNavList(list) {
		// Групіруємо 
		const grouped = groupBy(list, 'category');
		const items = {};

		// Сортуємо пункти в середині груп
		for (let groupName in grouped) {
			grouped[groupName].sort((a, b) => a.code_name.localeCompare(b.code_name));
		}
		
		// Сортуємо групи
		return sortItemsByName(grouped);
	}

	function toggleDropdownHandler() {
		filterDropdownVisible = !filterDropdownVisible;
	}

	function handleFormSidebarNav() {
		formSidebarNav.requestSubmit();
	}

	function formSidebarFilterHandler () {
		formSidebarFilter.requestSubmit();
	}

    function sortItemsByName(items) {
        const sortedEntries = Object.entries(items).sort((a, b) => {
            if (a[0] === 'event') return -1;
            if (b[0] === 'event') return 1;
            if (a[0] === 'general') return -1;
            if (b[0] === 'general') return 1;
            return a[0].localeCompare(b[0]);
        });

        return Object.fromEntries(sortedEntries);
    }

	function groupBy(array, key) {
		if (!Array.isArray(array)) return;
		return array.reduce((result, currentValue) => {
			(result[currentValue[key]] = result[currentValue[key]] || []).push(currentValue);
			return result;
		}, {});
	}

<<<<<<< HEAD
	function handleFormSidebarNav() {
		formSidebarNav.requestSubmit();
	}

	// $inspect(groupedNavList);

	$effect(() => {
		groupedFilteredNavList = filterNestedObjects(groupedNavList, modeFilterList);
	});

	function handleFilterInput () {
		isFiltering = (filterInput.length > 0) ? true : false;

		let _filtered = {};
		// console.log(groupedFilteredNavList)
		Object.keys(groupedNavList).forEach(key => {
			_filtered[key] = groupedNavList[key].filter(item => {
				console.log(item.code_name, filterInput, item.code_name.toLowerCase().includes(filterInput.toLowerCase()))
				return item.code_name.toLowerCase().includes(filterInput.toLowerCase())
			})
		})

		console.log(groupedFilteredNavList)
		groupedFilteredNavList = _filtered;
		// groupedFilteredNavList = groupedFilteredNavList.filter(item => {
		// 	return item.code_name.indexOf(filterInput);
		// })
	}

	function generateModeList() {
		let list = [];

		Object.keys(groupedNavList).forEach((objKey) => {
			groupedNavList[objKey].forEach((item) => {
				if (!list.includes(item.mode)) {
					list.push(...item.mode);
				}
			});
		});
		console.log([...new Set(list)]);
		return [...new Set(list)];
	}

	function filterNestedObjects() {
		let filteredObject = {};

		Object.keys(groupedNavList).forEach((objKey) => {
			let filteredArray = groupedNavList[objKey].filter((element) =>
				element.mode.length == 0 || element.mode.some((i) => modeFilterList.includes(i))
			);
			console.log(objKey, filteredArray);
			filteredObject[objKey] = filteredArray;
		});

		return filteredObject;
=======
	function toggleModeHandler(name) {
		if (modeFilterList.includes(name)) {
			modeFilterList = modeFilterList.filter(item => item !== name);
		} else {
			modeFilterList = [...modeFilterList, name];
		}
>>>>>>> vercelPreview
	}
</script>


<form class="sidebar-filter-block"
	bind:this={formSidebarFilter}
	onchange={formSidebarFilterHandler}
	action="?/sidebarFilter"
	method="POST"
	use:enhance={() => {
		return async ({ update }) => {
			update({ reset: false });
		};
	}}>
	<div class="filter-field" class:dropdown={filterDropdownVisible}>
		<input autocomplete="off" type="text" name="sidebarFilterInput" bind:value={formFilterInput} placeholder="Filter by name">
		<Filter class="icon-filter" size={14} onclick={toggleDropdownHandler} />
		<!-- {#if formFilterInput.length > 0}
			<span>clear</span>
		{/if} -->
		{#if filterDropdownVisible}
			<div class="dropdown">
				{#each modeList as item}
					<label for="check-{item}">
						<input id="check-{item}" type="checkbox" checked={modeFilterList.includes(item)} name={item} onchange={() => toggleModeHandler(item)}>
						<span>{item}</span>
					</label>
				{/each}
			</div>
		{/if}
	</div>
</form>

<form
	class="sidebar-nav-form"
	bind:this={formSidebarNav}
	onchange={handleFormSidebarNav}
	action="?/sidebarNavList"
	method="POST"
	use:enhance={() => {
		return async ({ update }) => {
			update({ reset: false });
		};
	}}>
	{#each Object.keys(navList) as keyName}
		<section class="sidebar-nav-group">
			<h2 class="sidebar-nav-group-title">
				<span>{keyName.toLowerCase().replace(' ', '_')}</span>
			</h2>
			{#each navList[keyName] as item (item.name)}
				<SidebarNavItem {item}></SidebarNavItem>
			{/each}
		</section>
	{/each}
</form>

{#if session && accessRole.includes(profile.role)}
	<!-- <SidebarNewItem /> -->
{/if}


<style lang="less">
	.sidebar-filter-block {
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		z-index: 2;

		& * {

			-webkit-user-select: none; /* Safari */
			-ms-user-select: none; /* IE 10 and IE 11 */
			user-select: none; /* Standard syntax */
		}

		.filter-field {
			position: relative;

			&.dropdown {
				input {
					border-color: #303030;
				}

				.dropdown {
					// background-color: #101010;
					// border: 1px solid #303030;
					border-top-width: 0;
				}
			}

			.icon-filter-dropdown {

			}

			.dropdown {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				background-color: #050505;
				border: 1px solid #202020;
				padding: 6px;
				// min-height: 100px;
				z-index: 1;
				// display: flex;
				// gap: 10px;

				label {
					
					cursor: pointer;
					display: block;
					// display: block;

					& + label {
						margin-top: 2px;
					}

					span {
						display: block;
						padding: 4px 12px;
						color: #404040;

						&::before {
							content: "./";
							opacity: .25;
						}
					}

					input[type="checkbox"] {
						display: none;

						&:checked + span {
							color: #E0E0E0;
						}
					}

					&:hover {
						background-color: #222;
					}
				}
			}

			& > span {
				text-transform: uppercase;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%);
				cursor: pointer;
				font-size: 12px;
				line-height: 1;
				letter-spacing: 1px;
				&:hover {
					color: #E0E0E0;
				}
			}

			:global(svg) {
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translate(0, -50%);
				cursor: pointer;

				&:hover {
					color: #E0E0E0;
				}
			}
		}

		input {
			width: 100%;
			box-sizing: border-box;
			background-color: var(--sidebar-input-bg);
			border: 1px solid var(--sidebar-input-border-color);
			color: var(--sidebar-input-color);
			padding: 0 10px;
			height: 40px;
			outline: none;
			padding-right: 34px;
			letter-spacing: 1px;
			// font-family: var(--font-family-text);

			&::placeholder {
				color: var(--sidebar-input-placeholder-color);
			}
		}
	}

	.sidebar-nav-form {
		position: relative;
		z-index: 1;
	}


	.sidebar-nav-group {
		& + .sidebar-nav-group {
			margin-top: 30px;
		}

		.sidebar-nav-group-title {
			font-size: 14px;
			color: #909090;
			margin-bottom: 10px;
			font-weight: bold;
			margin-top: 15px;

			display: flex;
			align-items: center;

            &::before {
                content: "./wtm/group/";
				opacity: .2;
                // background-color: #444;
                // padding: 0;
                // display: block;
                // aspect-ratio: 1;
                // text-align: center;
                // flex-grow: 0;     /* do not grow   - initial value: 0 */
                // flex-shrink: 0;   /* do not shrink - initial value: 1 */
                // flex-basis: 20px; /* width/height  - initial value: auto */
                // font-weight: bold;
                // font-size: 14px;
                // color: #000;
                // margin-right: 10px;
            }

			span {
				margin-right: 10px;
				line-height: 1;
				white-space: nowrap;
				color: inherit;
			}

			&::after {
				content: '';
                color: inherit;
				// border-top: 1px dashed currentColor;
				width: 100%;
                margin-top: 3px;
				height: 1px;
				background: repeating-linear-gradient(90deg,hsla( 0,0%,27% ,1),hsla( 0,0%,27% ,1) 4px,transparent 4px,transparent 10px);
			}
		}

	}
</style>
