<script>
	import { getContext, onMount } from "svelte";
	import SidebarNavItem from "./SidebarNavItem.svelte";
    
    // let groupedNavList = getContext('groupedNavList')

    const { list, access = null, ignore = null, filtering = false } = $props();
    const sidebarNavGroup = getItemsByCategories(list, access, ignore);

    function getItemsByCategories(list, access = null, ignore = null) {
        const items = {};

        if (ignore) {
            const ignoredCategories = splitAndTrim(ignore);
            for (let group in list) {
                if (!ignoredCategories.some(ignored => group.includes(ignored))) {
                    items[group] = list[group];
                }
            }
        } else if (access) {
            splitAndTrim(access).forEach(category => {
                if (list[category]) {
                    items[category] = list[category];
                }
            });
        } else {
            for (let group in list) {
                items[group] = list[group];
            }
        }

        for(let groupName in items) {
            items[groupName].sort((a, b) => a.code_name.localeCompare(b.code_name));
        } 

        return sortItemsByName(items);
    }   

    function sortItemsByName(items) {
        const sortedEntries = Object.entries(items).sort((a, b) => {
            if (a[0] === 'event') return -1;
            if (b[0] === 'event') return 1;
            if (a[0] === 'general') return -1;
            if (b[0] === 'general') return 1;
            return a[0].localeCompare(b[0]);
        });

        return Object.fromEntries(sortedEntries);
    }

    function splitAndTrim(str) {
        return str.split(',').map(word => word.trim());
    }
</script>
{#each Object.keys(sidebarNavGroup) as group, index}
    {#if sidebarNavGroup[group].length}
    <section class="sidebar-control-list" class:filtering={filtering}>
        {#if !filtering}
        <h2 class="sidebar-control-list-title">
            <span>{group.toLowerCase().replace(' ', '_')}</span>
        </h2>
        {/if}
        {#each sidebarNavGroup[group] as item}
            <SidebarNavItem {item} delay={index * 100} />
        {/each}
    </section>
    {/if}
{/each}

<style lang="less">
    .sidebar-control-list {
		& + .sidebar-control-list {
			margin-top: 25px;
		}

        &.filtering {
            margin-top: 0 !important;
        }

		.sidebar-control-list-title {
			font-size: 14px;
			color: #444;
			margin-bottom: 10px;
			font-weight: bold;
			margin-top: 15px;

			display: flex;
			align-items: center;

            &::before {
                content: "#";
                background-color: #444;
                padding: 0;
                display: block;
                aspect-ratio: 1;
                text-align: center;
                flex-grow: 0;     /* do not grow   - initial value: 0 */
                flex-shrink: 0;   /* do not shrink - initial value: 1 */
                flex-basis: 20px; /* width/height  - initial value: auto */
                font-weight: bold;
                font-size: 14px;
                color: #000;
                margin-right: 10px;
            }

			span {
				margin-right: 10px;
				line-height: 1;
				white-space: nowrap;
				color: inherit;
			}

			&::after {
				content: '';
				height: 0;
                color: inherit;
				border-top: 1px dashed currentColor;
				width: 100%;
                margin-top: 3px;
			}
		}

		&:hover {
			.sidebar-control-list-title {
				span {
					color: #555;
				}
			}
		}
	}

</style>