<script>
	import { page } from '$app/stores';
	import MemberBox from './ui/MemberBox.svelte';
	import TextEffect from './ui/TextEffect.svelte';

    const { preloaded } = $props();

</script>

<header>
    <div class="container">
        <div class="logo">
            <a href="{$page.url.origin}">
                <img src="{$page.url.origin}/assets/images/warzone-interactive-tactical-map-logo.png" width="24" alt="Warzone Interactive Tactical Map logo">
            </a>
            <div class="scramble-content">
                <TextEffect><span>INITIALIZING CODTACMAP TOOL LOAD SEQUENCE</span></TextEffect>
                <TextEffect delay="1500"><span>LOADING SCREEN MODULE</span></TextEffect>
                <!-- <span>RENDERING GRAPHICAL INTERFACE</span> -->
            </div>
        </div>
        <nav class="right-nav">
            <MemberBox />
        </nav>
    </div>
</header>

<style lang="less">
    header {
        height: 56px;
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;

        .container {
            max-width: 1820px;
            height: 100%;
            width: 94vw;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            a {
                display: block;

                img {
                    display: block;
                }
            }

            .scramble-content {
                position: absolute;
                top: 50%;
                color: #ffcc00;
                transform: translate(0, -50%);
                left: calc(100% + 15px);
                font-size: 10px;
                
                span {
                    display: block;
                    white-space: nowrap;
                }
            }
        }
    }

    nav {

    }
</style>