<script>
	import { page } from '$app/stores';

    const { url: websiteUrl } = $page;
    const { title, description, host, url, ogImage = "/assets/meta/preview.webp" } = $props();
</script>

<svelte:head>
    <title>[WTM] {title}</title>
    <meta name="title" content="{title}">
    <meta name="description" content="{description}">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="{title}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Warzone Tac Map">
    <meta property="og:url" content="{url || websiteUrl.origin}">

    <meta property="og:description" content="{description}">
    <meta property="og:image" content="{ogImage}">
    <meta property="og:image:url" content="{ogImage}">
    <meta property="og:image:secure_url" content="{ogImage}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{host || websiteUrl.host}">
    <meta property="twitter:url" content="{url || websiteUrl.origin}">
    <meta name="twitter:title" content="{title}">
    <meta name="twitter:description" content="{description}">
    <meta name="twitter:image" content="{ogImage}">
</svelte:head>