<script>
	import { fade } from "svelte/transition";
	import { popupFormAction } from "../lib/stores";

    import FormAddMarker from './popupForms/FormAddMarker.svelte';

    function handleClosePopup () {
        popupFormAction.set(false);
    }
</script>
{#if $popupFormAction}
<div transition:fade={{ delay: 0, duration: 100 }} class="popup-form-overlay">
    <div class="popup-form-box">
        <div class="popup-form-header">
            <span class="title">Popup Form</span>
            <button onclick={handleClosePopup} class="action-close as-link link-hover-effect">
                <span>close</span>
            </button>
        </div>
        <div class="popup-form-content">
            <FormAddMarker id={$popupFormAction?.data?.id} />
            <!-- popup forms {JSON.stringify($popupFormAction)} -->
        </div>
    </div>
</div>
{/if}
<style lang="less">
    .popup-form-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px); // Add blur effect
    }

    .popup-form-box {
        width: 500px;
        background-color: #0a0a0a;
        // border: 1px solid #222;
        background: repeating-linear-gradient(
        45deg,
        #080808,
        #080808 10px,
        #0b0b0b 10px,
        #0b0b0b 20px
        );

        .popup-form-header {
            padding: 20px 20px ;
            border-bottom: 1px solid #222;
            letter-spacing: .1em;
            font-weight: bold;
            display: flex;
            align-items: center;

            .title {
                margin-right: auto;
            }

            .action-close {

            }
        }

        .popup-form-content {
            padding: 25px;
            // margin: 12px;
            background-color: #080808;
        }
    }
</style>