<script>
	import SidebarMapInfo from "./SidebarMapInfo.svelte";
	import SidebarNav from "./sidebarNav/SidebarNav.svelte";
    import SidebarNavSettings from "./sidebarNav/SidebarNavSettings.svelte";
    import Logo from "./ui/Logo.svelte";

	import { mapCoordinates } from "../lib/stores";

    import { MenuSquare, Settings, PanelRightOpen } from 'lucide-svelte';

	import Square from "./googleAds/Square.svelte";

    let tabCurrent = $state('main');
    let isSidebarOpen = $state(true);

    function changeTab (tab) {
        tabCurrent = tab;
    }

    function handlerSidebarToggle () {
        isSidebarOpen = !isSidebarOpen;
    }
</script>
<aside class="sidebar" class:open={isSidebarOpen}>
    <div class="sidebar-nav-block">
        <div class="top-section">
            <Logo />
        </div>
        <div class="middle-section">
            <button class:active={tabCurrent == 'main'} onclick={() => changeTab('main')}>
                <MenuSquare size={14} />
            </button>
        </div>
        <div class="bottom-section">
            <button onclick={() => handlerSidebarToggle()}>
                <PanelRightOpen size={14} />
            </button>
            <button class:active={tabCurrent == 'settings'} onclick={() => changeTab('settings')}>
                <Settings size={14} />
            </button>
        </div>
    </div>
    <div class="sidebar-content-block">
        <div class="sidebar-content">
            <!-- <div class="sidebar-content-header">
                lng: {$mapCoordinates.lng}, lat: {$mapCoordinates.lat}
            </div> -->
            <div class="sidebar-content-main">
                <SidebarMapInfo />
                {#if tabCurrent == 'main'}
                    <SidebarNav />
                {:else if tabCurrent == 'settings'}
                    <SidebarNavSettings />
                {/if}
            </div>
            <!-- <div class="sidebar-content-footer">

            </div> -->
        </div>
    </div>
</aside>

<style lang="less">
    .sidebar {
        color: #777;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: grid;
        grid-template-columns: 70px 0;

        &.open {
            grid-template-columns: 70px auto;

            .sidebar-content-block {
                transform: translate(0, 0);
            }
        }

        .sidebar-nav-block {
            display: grid;
            // flex-direction: column;
            // align-items: center;
            grid-template-rows: 100px 1fr auto;
            z-index: 2;
            position: relative;
            height: 100dvh;
            background-color: var(--sidebar-main-bg);
            border-right: 1px solid var(--sidebar-border-color);

            [class*="-section"] {
                flex-grow: 1;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                    width: 40px;
                    aspect-ratio: 1;
                    text-align: center;
                    cursor: pointer;
                    border: none;
                    background-color: rgba(255, 255, 255, .085);
                    border-radius: 4px;
                    color: #999;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    transition: all .1s linear;

                    &.active {
                        // background-color: rgba(255, 255, 255, .2);
                        background-color: #ffcc00;
                        color :#000;
                    }

                    &:hover {
                        // background-color: rgba(255, 255, 255, .2);
                    }

                    svg {
                        width: 48%;
                        opacity: .2;
                    }
                }

            .top-section {
                justify-content: center;
            }

            .middle-section {
                // width: 100%;
                // flex-basis: 100%;
                // flex-shrink: 1;
            

                :global(button + button) {
                    margin-top: 6px;
                }
            }

            .bottom-section {
                // width: 100%;
                // flex-basis: auto;
                margin-bottom: 20px;

                button {
                    & + button {
                        margin-top: 10px;
                    }
                }
            }

        }

        .sidebar-content-block {
            background-color: var(--sidebar-content-bg);
            transform: translate(-100%, 0);
            z-index: 1;
            width: 360px;
            transition: all .2s ease;
            height: 100dvh;
            border-right: 1px solid var(--sidebar-border-color);

            .sidebar-content {
                transition: all .1s linear;
                box-sizing: border-box;
                overflow-y: scroll;
                overflow-x: hidden;
                display: grid;
                grid-template-rows: 60px auto 60px;
                height: 100%;
                
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: none;
                    background-color: #08080a;
                }
                
                &::-webkit-scrollbar{
                    width: 5px;
                    background-color: #08080a;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: lighten(#000, 20%);
                }
            }

            .sidebar-content-header {
                position: sticky;
                top: 0;
                z-index: 3;
                border-bottom: 1px solid #161616;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--sidebar-content-bg);

                a {
                    display: inline-block;

                    img {
                        display: block;
                        height: 40px;
                    }
                }
            }

            .sidebar-content-main {
                padding: 15px;
            }

            .sidebar-content-footer {
                
                position: sticky;
                bottom: 0;
                z-index: 3;
                // height: 100px;
                border-bottom: 1px solid #161616;
                display: flex;
                // flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--sidebar-content-bg);
                border-top: 1px solid #111;
                // border: 2px solid rgb(82, 7, 7);
                // background-color: red;
            }
        }
    }


    @media screen and (max-width: 900px) {
        // :global(body) {
        //     overflow: hidden;
        // }
		.sidebar {
			top: initial;
			left: 0;
			right: 0;
            height: 56px;
            // border: 1px solid red;


            .sidebar-nav-block {
                width: 100vw;
                padding: 0 10px;
                height: 100%;
                grid-template-rows: 1fr;
                grid-template-columns: 56px 1fr auto;
                align-items: center;
                // border: 1px solid green;

                .bottom-section {
                    flex-direction: row;
                    margin: 0;
                    gap: 5px;
                    
                    button {
                        margin: 0 !important;
                    }
                }
            }

            &.open {

                .sidebar-content-block {
                    // top: 0;
                    // margin: 0;
                    transform: translate(0, 0);
                }
            }

			.sidebar-content-block {
                // background-color: #000;
                // border: 1px solid yellow;
                // all: unset;
				// display: none;
                position: absolute;
                bottom: 56px;
                left: 0;
                right: 0;
                width: 100vw;
                bottom: 0;
                // top: 0;
                height: 100dvh;
                margin: 0;
                transform: translate(0, 100%);
			}
        }
    }

</style>