<script>
	import { page } from '$app/stores';
	import { getContext } from 'svelte';
	import { slide } from 'svelte/transition';
	import TextEffect from './ui/TextEffect.svelte';

    import { ChevronDown } from 'lucide-svelte';
	import TextCustomEffect from './ui/TextCustomEffect.svelte';

    // const { mapData } = $props();
    const mapData = getContext('mapData');
    let showDropdown = $state(false);

    let hover = $state(false);

    async function fetchMapsList () {
		const { data, error } = await $page.data.supabase
			.from('maps')
			.select('*')

		if (!error) return data.filter(item => item.url != mapData.url);
    }

    function toggleShow () {
        showDropdown = !showDropdown;
    }
</script>
<!-- on:mouseenter={toggleShow} on:mouseleave={toggleShow} -->


<article class="sidebar-map-details-block">
    <h1 class="title" data-label="CURRENT MAP">{mapData.name} </h1>
    <!-- <div class="modes-list" data-label="CURRENT MODES">
        <span>Resurgence</span>
        <span>Ranked Resurgence</span>
    </div> -->
    <!-- <div class="sizes-list" data-label="CURRENT TEAM SIZES">
        <span>50</span>
        <span>20</span>
        <span>17</span>
        <span>10</span>
    </div> -->
</article>



<!-- <article class="sidebar-map-info" class:open={showDropdown}>
    <div class="map-info-card">
        <div class="card-header">
            <span>Current Map</span>
            <button onclick={() => showDropdown = !showDropdown}>
                <ChevronDown size={18} />
            </button>
        </div>
        <div class="card-content">
            <img src="{mapData.previewUrl}" alt="">
            {#key showDropdown}
            <h1 class="name">
                <TextCustomEffect text={mapData.name} />
            </h1>
            {/key}
            <div class="info">
                <p class="description">{mapData.description}</p>
                <p class="modes">Battle Royale/Resurgence</p>
                <p class="team-sizes">50/20/17/10</p>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
    {#await fetchMapsList() then mapList}
        {#if showDropdown}
            <ul transition:slide={{ delay: 0, duration: 200 }} class="dropdown">
                {#each mapList as map}
                    <li class="item">
                        <a rel="external" href="/maps/{map.url}">{map.name}</a>
                    </li>
                {/each}
            </ul>
        {/if}
    {/await}
</article> -->

<style lang="less">
    .sidebar-map-details-block {
        background-color: #080808;
        border: 1px solid #181818;
        border-radius: 2px;
        aspect-ratio: 16/4;
        width: 100%;
        color: #606060;
        padding: 0 20px;
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;

        [data-label] {
            &::before {
                content: attr(data-label);
                font-size: 0.8rem;
                // margin-bottom: 5px;
                display: block;
                font-weight: normal;
                color: #404040;
                letter-spacing: .075em;
            }
        }

        .title {
            color: #909090;
            margin: 0;
        }

        .modes-list {
            // margin-top: 10px;
            // white-space: nowrap;
            // display: flex;

            span {
                background-color: #000;
                padding: 2px 8px;
                border: 1px solid #111;
                border-radius: 4px;
                display: inline-block;
            }
        }

        // .sizes-list {
        //     margin-top: 10px;
        // }
    }


    .sidebar-map-info {
        z-index: 10;
        margin-bottom: 25px;

        // border-radius: 6px 6px 0 0;
        &.open {


            .info-box {
                // border: 8px solid #020202;
                // transform: scale(95%, 90%);
            } 
        }
        // border :1px solid #333;

        &:hover {
            // outline: 5px solid #050505;

            .info-box {
                // outline: 3px solid #050505;
                // border: 6px solid  #050505;
            }
        }


        .map-info-card {
            // border: 1px solid #202020;
        }


        .card-header {
            border: 1px solid #202020;
            // height: 40px;
            display: flex;
            align-items: center;
            padding: .75em 10px;
            font-size: 12px;
            color: #606060;
            border-radius: 2px 2px 0 0;
            overflow: hidden;
            font-weight: bold;
            background-color: #000;
            letter-spacing: .075em;


            button {
                background-color: rgba(255, 255, 255, 0.15);
                padding: 0;
                width: 24px;
                border-radius: 2px;
                aspect-ratio: 1;
                border: none;
                cursor: pointer;
                margin-left: auto;

                :global(svg) {
                    margin-bottom: -5px;
                    color: #999;
                }
            }

        }

        .card-content {
            border: 1px solid #202020;
            border-top-width: 0;
            aspect-ratio: 16/6;
            // display: grid;
            // grid-template-rows: auto auto;
            // grid-template-columns: 40px 1fr;
            // gap: 10px;
            display: flex;
            flex-direction: column;
            // border-radius: 6px;
            overflow: hidden;
            padding: 14px;
            justify-content: space-between;
            // cursor: pointer;
            transition: all .2s linear;
            transform: scale(1);
        }




        .top-left-corner {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 10px;
            color: #FFF;
            opacity: .15;
            // background-color: #000;
        }

        .name {
            // position: absolute;
            // top: 10px;
            // left: 10px;
            // margin: 0;
            margin: 0;
            position: relative;
            color: #AAA;
            font-weight: normal;
        }

        .info {
            font-size: 14px;
            grid-area: 2/1/3/3;

            p {
                margin: 0;
            }

            .modes {

            }

            .team-sizes {

            }
        }

        .description {
            position: relative;
            // font-size: 12px;
            margin: 0;
        }
        

        .dropdown {
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: #050505;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            border: 1px solid #202020;
            // border: 1px solid #111;
            border-top: 0;
            border-radius: 0 0 6px 6px;
            // min-height: 200px;

            .item {
                margin: 0;
                

                a {
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;
                    color: #999;
                }

                & + .item {
                    border-top: 1px solid lighten(#101416, 3%);
                }

                &:hover {
                    a {
                        color: #EEE;
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .25;
        }
    }
</style>