<script>
    $effect(() => {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JZ1QDYJP7L');
    })
</script>

<svelte:head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZ1QDYJP7L"></script>
    <!-- <script defer data-domain="warzonetacmap.online" src="https://plausible.io/js/script.js"></script> -->
</svelte:head>