<script>
    $effect(() => {
        console.log('GOOGGLE ADSENSE');
        (window.adsbygoogle = window.adsbygoogle || []).push({});
    });
</script>

<svelte:head>
  <!-- <script data-ad-client="ca-pub-6606810145118251" async bind:this={scriptTag}></script> -->

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5614477279953775"
  crossorigin="anonymous"></script>
</svelte:head>


<ins class="adsbygoogle"
    style="display:block; "
    data-ad-client="ca-pub-5614477279953775"
    data-ad-slot="1415026276"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>