// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,100&family=Roboto+Mono:wght@100;200;300;400;600;700&display=swap');

@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/Geist.Mono/GeistMono-Light.woff2') format('woff2'), url('/fonts/Geist.Mono/GeistMono-Light.woff') format('woff');
	font-weight: 100;
	font-style: light;
}
@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/Geist.Mono/GeistMono-Regular.woff2') format('woff2'), url('/fonts/Geist.Mono/GeistMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/Geist.Mono/GeistMono-SemiBold.woff2') format('woff2'), url('/fonts/Geist.Mono/GeistMono-SemiBold.woff') format('woff');
	font-weight: 500;
	// font-style: bold;
}
@font-face {
	font-family: 'GeistMono';
	src: url('/fonts/Geist.Mono/GeistMono-Bold.woff2') format('woff2'), url('/fonts/Geist.Mono/GeistMono-Bold.woff') format('woff');
	font-weight: 600;
	font-style: bold;
}

* {
	box-sizing: border-box;
	position: relative;
}


:root {
	--color-100: 0, 0%, 10%;
	--color-200: 0, 0%, 12%;
	--color-300: 0, 0%, 16%;
	--color-400: 0, 0%, 18%;
	--color-gray-500: 0, 0%, 27%;
	--color-gray-600: 0, 0%, 53%;
	--color-gray-700: 0, 0%, 56%;
	--color-gray-800: 0, 0%, 49%;
	--color-gray-900: 0, 0%, 63%;
	--color-gray-1000: 0, 0%, 93%;

	--bg-000: #000000; /* Чорний */
	--bg-100: #010101; /* Дуже темний, майже чорний */
	--bg-200: #1a1a1a; /* Темно-сірий */
	--bg-300: #333333; /* Середній темно-сірий */
	--bg-400: #4d4d4d; /* Світло-темний сірий */
	--bg-500: #666666; /* Середній сірий */
	--bg-600: #808080; /* Світлий сірий */
	--bg-700: #999999; /* Дуже світлий сірий */

	--font-size-base: 14px;


	// --font-family-text: 'Roboto Mono', sans-serif;
	--font-family-geistMono: 'GeistMono', sans-serif;

	--brand-color: #FFC107;
	--brand-blue: #0d00bf;
	// --bg-color: #010101;
	--bg-color: #050505;
	--bg-noise-opacity: .1;


	--sidebar-main-bg: #0d0d0d; //#060606;
	--sidebar-border-color: lighten(#0d0d0d, 5%);
	--sidebar-content-bg: var(--sidebar-main-bg);

	--sidebar-input-bg: #1a1a1a;
	--sidebar-input-border-color: #202020;
	--sidebar-input-color: #C0C0C0;
	--sidebar-input-placeholder-color: #505050;
}


html {}

body {
	


    background-color: var(--bg-color);
	// color: #999;
	margin: 0;
	padding: 0;
	// font-family: "Roboto Mono", "Open Sans", Arial, Helvetica, sans-serif;
	overflow: auto;
	overflow-x: hidden;
	min-height: 100dvh;
	width: 100vw;
	font-family: var(--font-family-geistMono);
	color: rgb(175, 175, 175);
	font-size: var(--font-size-base);
	line-height: 1.65em;
	letter-spacing: -0.3px;

    &::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		background-color: #08080a;
	}
	
	&::-webkit-scrollbar{
		width: 5px;
		background-color: #08080a;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: lighten(#000, 20%);
	}

    &::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-image: url("/assets/images/noise.gif");
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 5;
        // opacity: .015;
		opacity: var(--bg-noise-opacity);
	}
}

input, textarea, select, button {
	font-family: var(--font-family-geistMono);
	font-size: 14px;
	letter-spacing: -0.3px;
}

// strong {
// 	font-weight: 500;
// 	color: #DDD;
// }

#map {
	filter: contrast(1.05) saturate(.85);
}


.container {

    --max-width: 1820px;

    // border: 1px dashed #555;
    width: 100%;
    margin: auto;

    header & {
        max-width: var(--max-width);
        padding: 0 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main & {
        max-width: var(--max-width);
		width: 100%;
		margin: auto;
		padding: 0 60px;
    }
}

//////////////////////////////////////////////////
.inner-wrap {
	margin: 0 auto;
}
.w {
	&-600 {
		width: 94%;
		max-width: 600px;
	}
	&-700 {
		width: 94%;
		max-width: 700px;
	}
	&-800 {
		width: 94%;
		max-width: 800px;
	}	
}

//////////////////////////////////////////////////
.link-hover-effect {
	&:hover {
		&::before, &::after {
			opacity: 1;
		}
	}

	&::before, &::after {
		opacity: 0;
		transition: opacity .03s linear;
	}

	&::before {
		content: "[";
	}

	&:after {
		content: "]";
	}
}

//////////////////////////////////////////////////
.as-link {
	all: unset;
	color: #bbb;

	&:hover {
		color :#EEE;
	}
}
//////////////////////////////////////////////////
form {
	.row {
		
		& + .row {
			margin-top: 20px;

			&.mt-5 {
				margin-top: 5px;
			}

			&.mt-10 {
				margin-top: 10px;
			}
		}

		&.align-center {
			text-align: center;
		}

		&.btn-area {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.or {
		a {
			color: #999;
			text-decoration: none;

			&:hover {
				color: #EEE;
			}
		}
	}
}
//////////////////////////////////////////////////
.btn {
	padding: 0 20px;
	line-height: 1;
	height: 48px;
	background-color: rgba(150, 150, 150, 1);
	border: none;
	min-width: 100px;
	font-size: 14px;
	font-family: var(--font-family-geist);
	font-weight: bold;
	// border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: .03em;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.2s ease-out;
	cursor: pointer;
	padding-left: 24px;
	color: #101010;

	&.s-small {
		height: 32px;
		padding: 0 12px;
		// font-size: 12px;
	}

	// -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
	clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);

	background: linear-gradient(rgba(187, 187, 187, .55) 50%, rgb(170, 170, 170) 100%), linear-gradient(90deg, rgba(119, 119, 119, 0.09), rgba(194, 194, 194, 0.03), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 2px 100%;


	.loader {
		width:32px;
		height:12px;
		margin-right: 14px;
		background:
		  linear-gradient(#0000 calc(1*100%/6),#111 0 calc(3*100%/6),#0000 0),
		  linear-gradient(#0000 calc(2*100%/6),#111 0 calc(4*100%/6),#0000 0),
		  linear-gradient(#0000 calc(3*100%/6),#111 0 calc(5*100%/6),#0000 0);
		background-size:10px 400%;
		background-repeat: no-repeat;
		animation:matrix 1s infinite linear;
	}
	
	
	@keyframes matrix {
		0% {background-position: 0% 100%, 50% 100%, 100% 100% }
		100% {background-position: 0% 0%, 50% 0%, 100% 0% }
	}


	&.-red {
		background-color: rgba(255, 0, 0, 1);
		
	}

	&:not(:disabled) {
		// &::before {
		// 	content: "";
		// 	background-color: #FFF;
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 6px;
		// 	transition: all 0.3s ease-out;
		// 	z-index: 0;
		// 	transform-origin: 50% 50% 0px;
		// }
	}

	&:hover {
		color: #111;
		background-color: #F0F0F0;

		// &::before {
		// 	width: calc(100% - 6px);
		// 	left: 6px;
		// }
	}
}


.loader {
	width:32px;
	height:12px;
	margin-right: 14px;
	background:
	  linear-gradient(#0000 calc(1*100%/6),#111 0 calc(3*100%/6),#0000 0),
	  linear-gradient(#0000 calc(2*100%/6),#111 0 calc(4*100%/6),#0000 0),
	  linear-gradient(#0000 calc(3*100%/6),#111 0 calc(5*100%/6),#0000 0);
	background-size:10px 400%;
	background-repeat: no-repeat;
	animation:matrix 1s infinite linear;
}


@keyframes matrix {
	0% {background-position: 0% 100%, 50% 100%, 100% 100% }
	100% {background-position: 0% 0%, 50% 0%, 100% 0% }
}


