<script>
	import { enhance } from '$app/forms';

	import WindowInterfaceCard from '$components/ui/WindowInterfaceCard.svelte';
    import FormErrorMessage from '$components/ui/FormErrorMessage.svelte';
    import Header from '$components/Header.svelte';

    let errorsArray = $state({});
    let isLoading = $state(false);
    let message = $state(null);
    let isEmailSend = $state(false);
    let userEmail = $state(null);
</script>

<Header />

<div class="page-wrap">
    <WindowInterfaceCard title="Sign Up">
        {#if !isEmailSend}
        <form method="POST" use:enhance={() => {
            isLoading = true;
            return async ({ result }) => {
                isLoading = false;
                errorsArray = result.data.form.errors;

                if (result.type == 'success') {
                    isEmailSend = true;
                    message = result.data.message;
                    userEmail = result.data.email;
                }
                if (result.type == 'failure') {
                    message = result.data.message;
                }
            }
        }}>
            {#if message}
            <div class="row">
                <FormErrorMessage message={message} />
            </div>
            {/if}
            <div class="row">
                <label for="">Email</label>
                <input type="email" name="email" required placeholder="Type your email">
                <FormErrorMessage message={errorsArray.email} />
            </div>
            <div class="row btn-area">
                <button class="btn" type="submit">
                    {#if isLoading}<span class="loader"></span>{/if}
                    <span>Sign Up</span>
                </button>
                <div class="or">
                    or back to <a href="/sign-in">Sign In</a>
                </div>
            </div>
        </form>
        {:else} 
            <div class="title">Successed!</div>
            <div class="text">
                {message}
            </div>
        {/if}
    </WindowInterfaceCard>
</div>

<style lang="less">
    .page-wrap {
        width: 100vw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>