<script>
	import { enhance } from '$app/forms';

	import WindowInterfaceCard from "$components/ui/WindowInterfaceCard.svelte";
    import FormErrorMessage from '$components/ui/FormErrorMessage.svelte';
	import Header from "$components/Header.svelte";

    const { data } = $props();
    let errorsArray = $state({});
    let isEmailSend = $state(false);
    let userEmail = $state(null);
    let isLoading = $state(false);
    let message = $state(null);
</script>

<Header />

<div class="page-wrap">
    <WindowInterfaceCard title="Sign In">
        {#if !isEmailSend}
        <form method="POST" use:enhance={() => {
            isLoading = true;
            return async ({ result }) => {
                console.log(result)
                isLoading = false;
                errorsArray = result.data.form.errors;
                
                if (result.type == 'success') {
                    isEmailSend = true;
                    userEmail = result.data.email;
                }
                if (result.type == 'failure') {
                    message = result.data.message;
                }
            }
        }}>
            {#if message}
            <div class="row">
                <FormErrorMessage message={message} />
            </div>
            {/if}
            <div class="row">
                <label for="">Email</label>
                <input type="email" name="email" required placeholder="Type your email">
                <FormErrorMessage message={errorsArray.email} />
            </div>
            <div class="row btn-area">
                <button class="btn" type="submit">
                    {#if isLoading}<span class="loader"></span>{/if}
                    <span>Sign In</span>
                </button>
                <div class="or">
                    Don't have an account? <a href="/sign-up">Sign Up</a>
                </div>
            </div>
        </form>
        {:else} 
            <div class="title size-1">Email Verification</div>
            <div class="text">
                Email with verification link was sent to <strong>{userEmail}</strong>. Open your email box and go to link in email.
            </div>
        {/if}
    </WindowInterfaceCard>
</div>

<style lang="less">
    .page-wrap {
        width: 100vw;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

