<script>
	
	import { page } from '$app/stores';
	import { mapCoordinates, mapMarkers, popupFormAction } from './../../lib/stores.js';
	import { enhance } from '$app/forms';
    import { getContext } from 'svelte';

    import FormErrorMessage from './../ui/FormErrorMessage.svelte';
	import { MapMarkersStore } from '../../lib/MapMarkersStore.svelte.js';
    import { lastAddedMarkerStore } from '../../lib/lastAddedMarkerStore.svelte.js';
    
    const { data: { supabase } } = $page;
    const { id = null } = $props();
    const mapData = getContext('mapData');
    let preview = $state(null);
    let errorsArray = $state({});
    let formAction = $state('addMarker');
    let formLoading = $state(false);

    let icons = $state();

    let formData = $state({
        file: '',
        filename: '',
        name: '',
        description: '',
        published: 'true',
        regularSpawn: 'true',
        type: 'marker',
        icon: 'default',
        group: '',
        category: 'global',
        radius: '',
        stylesFillColor: '',
        stylesColor: '',
        stylesWeight: '',
    })

    $effect(() => {
        if (id) {
            formAction = 'editMarker';
            fetchMarker(id).then(result => {
                formData = result
                formData.published = result.is_published.toString();
                formData.regularSpawn = result.markers_extra.is_regular_spawn.toString();
            })
        } else {
            formData.group = checkType();
        }
    })

    let filteredIconsList = $state();

    $effect(async () => {
        icons = await fetchIcons();
    })

    $effect(async () => {
        if (!icons) return;
        // filteredIconsList = icons.filter(icon => {
        //     const iconName = icon.name.toLowerCase().replace(/\s/g, '');
        //     const formDataName = formData.name.toLowerCase().replace(/\s/g, '');
        //     return iconName.includes(formDataName);
        // });
    })

    let formGlobalMessage = $state('');
    let nameCounter = $derived(formData.name?.length);
    let descriptionCounter = $derived(formData.description?.length);
    // let filteredIconsList = $state();

    // $effect(async () => {
    //     let _icons = await icons;
    //     console.log(_icons)
    //     filteredIconsList = _icons.filter(icon => icon.name.includes(formData.name))
    // })


    function checkType () {
        if (formData.type == 'label') {
            return 'poiLabel'
        } else {
            return formData.icon;
        }
    }

	function checkFile (e) {
		const alllowedExt = ['jpg', 'png', 'webp', 'gif', 'jpeg'];
		const obj = e.target;
		const file = obj.files[0];

		if (file) {
			let fileInfo = {
				fileName: file.name,
				lastModified: file.lastModified,
				extension: file.name.split('.').pop().toLowerCase(),
			};	

			if (alllowedExt.includes(fileInfo.extension)) {
				let reader = new FileReader();

				reader.onload = function (e) {
					let imgElement = new Image();
					imgElement.src = e.target.result;

					imgElement.onload = function () {
						preview = e.target.result
					}

					imgElement.onerror = function () {
						preview = null;
						obj.value = null;						
					};
				}
				// Read the file as data URL
				reader.readAsDataURL(file);
			}
		}
	}

    async function fetchIcons () {
        console.log('fecty');
        let query = supabase.from('icons').select('*')
        // if (filter) query.eq(filter, true)

        const { data: iconsData } = await query;

        for(const icon of iconsData) {
            let { data: iconData, error: iconError } = await supabase
                .storage
                .from('icons')
                .getPublicUrl(icon.file_name)			
            icon.path = iconData.publicUrl;
        }
        console.log(iconsData)
        return iconsData;
    } 

    async function fetchMarker (id) {
        const { data, error } = await supabase
            .from('markers')
            .select('*, markers_extra(*)')
            .eq('id', id)
            .single()

        if (error) return error;
        return data;
    }

    function handleCancel () {
        popupFormAction.set(false);
    }
</script>
<form class="popup-form" action="?/{formAction}" method="POST" enctype="multipart/form-data" use:enhance={({ formData }) => {
    formLoading = true;
    if (id) formData.append('id', id);
    
    return async ({ result }) => {

        // console.log(result)

        if (result.type == 'success') {
            let marker = result.data.marker;

            MapMarkersStore.add(marker);
            popupFormAction.set(false);
        }
        
        // if (result.type == 'failure') {
        //     formGlobalMessage = result.data.message;
        // }
        // errorsArray = result.data.form.errors
        // formLoading = false;
    } 
}}>
    {#if formGlobalMessage}
    <div class="row">
        <FormErrorMessage color="green" message={formGlobalMessage} />
    </div>
    {/if}
    <div class="row row-col-2">
        <input readonly bind:value={$mapCoordinates.lat} name="lat" type="text" placeholder="lat">
        <input readonly bind:value={$mapCoordinates.lng} name="lng" type="text" placeholder="lng">
    </div>
    <div class="row">
        <label id="file" class="input-file-wrap">
            <input type="file"
            name="file"
            id="file"
            accept="image/*"
            onchange={(e) => checkFile(e)}
            >
            {#if preview}
            <div class="preview">
                <img src="{preview}" alt="">
            </div>
            {:else}
            <div class="if-empty">
                <span>Choose an image</span>
                <div class="requirements">
                    <span>Only png, jpg, gif, webp</span>
                    <span>1MB maximum</span>
                </div>
            </div>
            {/if}
        </label>
        <FormErrorMessage message={errorsArray.file} />
    </div>
    <div class="row">
        <label for="">Marker name <span class="counter">{nameCounter}/40</span></label>
        <input bind:value={formData.name} type="text" name="name" maxlength="40" />
        <FormErrorMessage message={errorsArray.name} />
    </div>
    <div class="row">
        <label for="">Marker name <span class="counter">{descriptionCounter}/200</span></label>
        <textarea bind:value={formData.description} placeholder="Description" name="description"></textarea>
        <FormErrorMessage message={errorsArray.description} />
    </div>
    <div class="row row-col-2">
        <div class="">
            <label for="">Is Published?</label>
            <select name="published" bind:value={formData.published}>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="">
            <label for="">Is spawn regular?</label>
            <select name="regularSpawn" bind:value={formData.regularSpawn}>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="row row-tabs">
        <label for="marker">
            <input bind:group={formData.type} value="marker" id="marker" type="radio" name="type">
            <span>Marker</span>
        </label>
        <label for="circle">
            <input bind:group={formData.type} value="circle" id="circle" type="radio" name="type">
            <span>Circle</span>
        </label>
        <label for="polygon">
            <input bind:group={formData.type} value="polygon" id="polygon" type="radio" name="type">
            <span>Polygon</span>
        </label>
        <label for="label">
            <input bind:group={formData.type} value="label" id="label" type="radio" name="type">
            <span>Label</span>
        </label>
        <FormErrorMessage message={errorsArray.type} />
    </div>
    {#if ['circle'].includes(formData.type)}
    <div class="row row-col-2">
        <input type="text" name="radius" placeholder="Radius size">
        <input type="text" name="stylesFillColor" placeholder="Fill color">
        <input type="text" name="stylesColor" placeholder="Color">
        <input type="text" name="stylesWeight" placeholder="Weight">
    </div>
    {/if}
    {#if !['label'].includes(formData.type)}
    <div class="row">
        <div class="icons-list">
            {#each icons as item}
            <label for="icon-{item.name}">
                <input bind:group={formData.icon} value="{item.name}" id="icon-{item.name}" type="radio" name="icon">
                <div>
                    <img src="{item.path}" alt="">
                </div>
            </label>
            {/each}
        </div>
    </div>
    <!-- <div class="row">
        {#await fetchIcons()}
        <div>Loading icons</div>
        {:then iconsArray}   
        <div class="icons-list">
            {#each iconsArray as item}
            <label for="icon-{item.name}">
                <input bind:group={formData.icon} value="{item.name}" id="icon-{item.name}" type="radio" name="icon">
                <div>
                    <img src="{item.path}" alt="">
                </div>
            </label>
            {/each}
        </div>
        {/await}
        <FormErrorMessage message={errorsArray.icon} />
    </div> -->
    {/if}
    <div class="row row-col-2">
        <div class="box">
            <label for="">Group</label>
            <input bind:value={formData.group}  type="text" name="group" placeholder="Group of marker">
            <FormErrorMessage message={errorsArray.group} />
        </div>
        <div class="box">
            <label for="">Category</label>
            <input bind:value={formData.category} type="text" name="category" placeholder="Category of marker">
            <FormErrorMessage message={errorsArray.category} />
        </div>
    </div>
    <div class="row btn-area">
        <button type="button" onclick={handleCancel} class="btn -red">
            <span>Cancel</span>
        </button>
        <button class="btn" type="submit">
            {#if formLoading}<span class="loader"></span>{/if}
            <span>Save</span>
        </button>
    </div>
    <input type="hidden" name="map" bind:value={mapData.id}>
    <input type="hidden" name="fileName" bind:value={formData.fileName}>
</form>

<style lang="less">
    .popup-form {

        .row {
            &.row-col-2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }

            &.row-tabs {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    border: 1px solid #222;
                    padding: 2px;
                    font-size: 12px;

                    label {
                        width: 100%;
                        cursor: pointer;
                        margin: 0;

                        span {
                            // background-color: #181818;
                            padding: 8px 0;
                            border-radius: 2px;
                            text-align: center;
                            font-weight: bold;
                            display: block;
                            // border: 2px solid transparent;
                        }

                        input {
                            display: none;

                            &:checked + span {
                                // border: 2px solid #444;
                                background-color: #222;
                            }
                        }
                    }

                }


            .preview {
                img {
                    max-width: 100%;
                }
            }

            label {
                font-size: 14px;
                color: #777;
                margin-bottom: 5px;
                display: block;

                .counter {
                    // margin-left: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 12px;
                }
            }

            input, select, textarea {
                width: 100%;
                display: block;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.75);
                border: none;
                padding: 10px !important;
                min-height: 42px;
                outline: none;
                font-size: 14px;
                // font-family: 'Roboto Mono';
                color: #999;
                border-radius: 1px;
                border: 1px solid #171717;
                letter-spacing: .05em;

                &[disabled], &[readonly] {
                    color: #444;
                    opacity: .5;
                }

                &::placeholder {
                    color: #333;
                }

            }

            .icons-list {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                width: 100%;
                gap: 10px;

                label {
                    cursor: pointer;

                    input {
                        display: none;

                        &:checked + div {
                            background-color: #222;
                        }
                    }
                    div {
                        border: 1px solid #222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        aspect-ratio: 1/1;

                        img {
                            width: 60%;
                            opacity: .5;
                        }
                    }
                    
                }
            }
        }
    }
</style>