<script>
	import TextCustomEffect from './TextCustomEffect.svelte';
    import TextEffect from './TextEffect.svelte';
	import TypeEffect from './TypeEffect.svelte';
    const { onlick, children } = $props();

    let copyState = $state(false);
</script>

<button onclick={() => {
    copyState = true;
    setTimeout(() => {
        copyState = false; 
    }, 1500)
    onlick();
}} class="btn s-small">
    <!-- <span>{@render children()}</span> -->
    <!-- <TextCustomEffect mode="click" text="test" /> -->
    {#if copyState}
        <!-- <TextEffect mode="scramble"><span>Copied</span></TextEffect> -->
        <TypeEffect speed={300}><span>Copied</span></TypeEffect>
    {:else}
        <span>{@render children()}</span>
    {/if}
</button>

<style lang="less">
    button {
        width: 100%;
    }
</style>