<script>
    const { message = null, color = 'red' } = $props();
</script>

{#if message}
<div class="form-error-message {color}">
    {message}
</div>
{/if}

<style lang="less">
    .form-error-message {
        border-radius: 3px;
        letter-spacing: 0.05em;
        padding: 8px;
        font-size: 12px;
        margin: 2px 0 10px;

        &.red {
            background-color: #310000;
            border: 1px solid #590000;
            color: #a19f9f;
        }

        &.green {
            background-color: #003100;
            border: 1px solid #005900;
            color: #a1a19f;
        }
    }
</style>