<script>
	import { page } from '$app/stores';
	import TypeEffect from './TypeEffect.svelte';

    const { url } = $page;
    const { textOnly = false } = $props();
</script>

{#if textOnly}
    <a href="{url.origin}">
        <TypeEffect hover={true} speed={1500}>WARZONE TAC MAP</TypeEffect>
    </a>
{:else}
    <a data-sveltekit-preload-data="tap" href="{url.origin}">
        <img src="{url.origin}/assets/images/warzone-interactive-tactical-map-logo.svg" width="24" height="24" alt="Warzone Interactive Tactical Map logo">
    </a>
{/if}

<style lang="less">
    a {
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        color: #E0E0E0;

        img {
            display: block;
        }
    }
</style>