<script>
	import { page } from '$app/stores';
	import copy from 'copy-to-clipboard';
	import { mapCoordinates, popupFormAction } from '../../lib/stores';
	import ButtonActionCopy from './ButtonActionCopy.svelte';

    const { data: { supabase, session, profile, accessRole } } = $page;

    let btnSharePlaceCopy = $state(false);

    function handleAddMarker () {
        if (!session) return false;
        if (!accessRole.includes(profile.role)) return false;

        popupFormAction.set({type: 'addMarker'});
    }

    function handleSharePlace () {
        console.log('share place')
        if (!window) return false;

        const link = `${window.location.href}?p=${$mapCoordinates.lat},${$mapCoordinates.lng}`;
        copy(link);
        btnSharePlaceCopy = true;
        setTimeout(() => btnSharePlaceCopy = false, 1000);
    }
</script>

<div class="marker-wrap">
    <div class="action-block">
        <!-- <ButtonCopyAny copyState={btnSharePlaceCopy} onclick={() => handleSharePlace()}>Share place</ButtonCopyAny> -->
        <ButtonActionCopy onlick={handleSharePlace}>Share place</ButtonActionCopy>
    </div>
    {#if session && accessRole.includes(profile.role)}
        <div class="action-block">
            <button onclick={handleAddMarker} class="btn s-small">
                <span>Add Marker</span>
            </button>
            <!-- <button class="btn">
                <span>Remove</span>
            </button> -->
        </div>
    {/if}
</div>

<style lang="less">
    .marker-wrap {
        color: #707070;
        font-size: 12px;
        padding: 15px;
    }
    .action-block {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 15px;

        :global(.btn) {
            flex-basis: 100%;
        }
    }
</style>