<script>
	import { popupFormAction } from './../../lib/stores.js';
	import { enhance } from '$app/forms';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import copy from 'copy-to-clipboard';
	import { mapMarkers } from '../../lib/stores';
	import { MapMarkersStore } from '../../lib/MapMarkersStore.svelte.js';
    import { saveImage, getImage } from '$lib/indexedDB.js'; 
	import ButtonActionCopy from './ButtonActionCopy.svelte';

    const { url, data: { supabase, session, profile, accessRole } } = $page;
    const { id } = $props();

    let isExtra = $state(false);
    let isImageHovered = $state(false);
    let isCtrlPressed = $state(false);

    async function fetchMarker () {
        try {
            let { data: markerData, error: markerError } = await supabase
            .from('markers')
			.select(`id, name, description, category, group, map, location, type, 
                    profiles ( id, username ), 
                    markers_extra (preview, is_regular_spawn),
                    markers_views (marker_id, count)`)
			.eq('id', id)
            .single()
            
            __incrementMarkerView(id);

            markerData.views = markerData.markers_views[0] ? markerData.markers_views[0].count : 0;

            return markerData;
        } catch (error) {
            return 'Error';
        }        
    } 

    async function fetchMarkerPreview (marker) {
        if (!marker) return;
        if (!marker.markers_extra.preview) return;
        // Example usage
        // loadImageWithCache(marker.markers_extra.preview).then((objectUrl) => {
        //     console.log('test', objectUrl)
        // const imgElement = document.createElement('img');
        // imgElement.src = objectUrl;
        // document.body.appendChild(imgElement);
        // });
        let blob = await getImage(marker.id, marker.markers_extra.preview);
        if (blob) {
            console.log('Loaded from indexedDB')
            return URL.createObjectURL(blob);
        } else {
            const { data: imageData, error: imageError } = await supabase.storage.from('markers_images').getPublicUrl(marker.markers_extra.preview)
            if (imageError) return;

            fetch(imageData.publicUrl).then(response => {
                response.blob().then(blob => saveImage(marker.id, marker.markers_extra.preview, blob))  
            })
            console.log('Loaded from Supabase')
            return imageData.publicUrl;
        }
    }


    function handleEditMarker () {
        popupFormAction.set({
            type: 'editMarker',
            data: {
                id: id
            }
        })
    }

    function actionShareMarker (obj) {
        const actualUrl = window.location.href
        console.log(actualUrl)
        copy(actualUrl)
    }


    async function __incrementMarkerView (id) {
        const { data, error } = await supabase.rpc('increment', { idvalue: id })
    }

    function keyDownHandler (event) {
        if (event.ctrlKey) {
            isCtrlPressed = true;
        }
    }

    function keyUpHandler () {
        isCtrlPressed = false;
    }

    function parseMarkdown(markdownText) {
        let htmlText = markdownText
            .split('\n') // Split the text into lines
            .map(line => {
                if (line.startsWith('##')) {
                    return '<div class="markdown-header s2">' + line.substring(2).trim() + '</div>';
                } else if (line.startsWith('#')) {
                    return '<div class="markdown-header s1">' + line.substring(1).trim() + '</div>';
                } else if (line.startsWith('-')) {
                    return '<li>' + line.substring(1).trim() + '</li>';
                } else {
                    return '<p>' + line.trim() + '</p>'; // Wrap any other text in <p>
                }
            })
            .join('');

        // Wrap list items in <ul> tags
        htmlText = htmlText.replace(/(<li>.*<\/li>)/g, '<ul>$1</ul>');

        // Use regular expression to avoid nested <ul> due to consecutive list items
        htmlText = htmlText.replace(/<\/ul><ul>/g, '');

        return htmlText;
    }





    // Function to load an image, with caching
    async function loadImageWithCache(url) {
        try {
            // Try to get the image from IndexedDB
            let blob = await getImage(url);

            if (blob) {
            console.log('Loaded image from cache:', url);
            return URL.createObjectURL(blob);
            } else {
            // If not in cache, fetch from network
            const response = await fetch(url);
            blob = await response.blob();

            // Save the fetched image to IndexedDB for future use
            await saveImage(url, blob);
            console.log('Fetched image from network and cached:', url);

            return URL.createObjectURL(blob);
            }
        } catch (error) {
            console.error('Error loading image:', error);
            return null; // Handle error or return a fallback image URL
        }
    }



</script>
<svelte:window onkeydown={(event) => keyDownHandler(event)} onkeyup={keyUpHandler}></svelte:window>
<div class="marker-wrap">
    {#await fetchMarker()}
        loading
    {:then marker}
        {console.log(marker)}
        {#if !marker.markers_extra.is_regular_spawn}
        <div class="not-regular-spawn">
            This is <u>not</u> a regular spawning place
        </div>
        {/if}
        {#if marker.markers_extra.preview}
            {#await fetchMarkerPreview(marker) then preview}
                <div class="preview" class:hover={isCtrlPressed && isImageHovered} onmouseover={() => isImageHovered = true} onmouseout={() => isImageHovered = false}>
                    <img src="{preview}" alt="">
                    <div class="hint">
                        <kbd>ctrl</kbd> + <kbd>click</kbd> to zoom
                    </div>
                </div>       
            {/await}
        {/if}

        <div class="name">
            <span>{marker.name}</span>
        </div>
        <div class="description">
            {@html parseMarkdown(marker.description)}
        </div>
        <div class="details">
            <div class="item">
                <div class="label">Author</div>
                <!-- <div class="value"><a href="/profile/{marker.profiles.username}">{marker.profiles.username}</a></div> -->
                <div class="value">Warzone Tac Map</div>
            </div>
            <div class="item">
                <div class="label">Views</div>
                <div class="value">{marker.views}</div>
            </div>
            <div class="item">
                <div class="label">Coordinates</div>
                <div class="value">{marker.location.lat}x{marker.location.lng}</div>
            </div>

            {#if session && accessRole.includes(profile.role)}
            <div class="item">
                <div class="label">ID</div>
                <div class="value">{marker.id}</div>
            </div>
            <div class="item">
                <div class="label">Group</div>
                <div class="value">{marker.group}</div>
            </div>
            <div class="item">
                <div class="label">Category</div>
                <div class="value">{marker.category}</div>
            </div> 
            <div class="item">
                <div class="label">Type</div>
                <div class="value">{marker.type}</div>
            </div>
            {/if}
        </div>
        <div class="action-block">
            <ButtonActionCopy onlick={() => actionShareMarker(marker)}>Share place</ButtonActionCopy>
        </div>
        {#if session && accessRole.includes(profile.role)}
        <div class="action-block">
            <button onclick={() => handleEditMarker(marker)} class="btn s-small">
                <span>Edit</span>
            </button>
            <form action="?/removeMarker" method="POST" use:enhance={(enh) => {
                enh.formData.append('id', marker.id);
                
                return async ({ result }) => {
                    console.log(result)
                    if (result.type == 'success') {
                        MapMarkersStore.remove(marker);
                        // mapMarkers.update((markers) => {
                        //     let newMarkers = markers;
                        //     newMarkers[marker.group].list = newMarkers[marker.group].list.filter((item) => item.id != marker.id);
                        //     return newMarkers;
                        // })
                    }
                }
            }}>
                <button type="submit" class="btn -red s-small">
                    <span>Remove</span>
                </button>
            </form>

        </div>
        {/if}

        {#if isExtra}
        <div class="extra-block">
            {marker.description}
        </div>
        {/if}
    {/await}
</div>
<style lang="less">
    // :global(.marker-content-wrap) {
    //     font-size: 12px;
    //     color: #888;
    //     padding: 10px;
    // }

    .not-regular-spawn {
        margin: -15px -15px 15px;
        padding: 4px 15px;
        text-align: center;
        background-color: #1302ff8a;
        color: #AAA;
    }

    .marker-wrap {
        color: #707070;
        font-size: 12px;
        padding: 15px;
    }

    .preview {
        aspect-ratio: 16/9;
        border: 2px solid #999;
        margin-bottom: 10px;
        transition: all .1s linear;
        z-index: 2;

        .hint {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #FFF;
            font-size: 12px;

            kbd {
                border:1px solid #404040;
                border-top-color: #FFF;
                border-bottom: 3px solid #333;
                border-radius: 2px;
                background-color: #101010;
                color: #EEE;
                font-weight: bold;
                padding: 4px 6px;
            }
            
        }

        &.hover {
            transform: scale(2.65);
            // border-width: 4px;
            border-radius: 0;

            .hint {
                opacity: .01;
            }
        }

        &:hover {

        }

        &::before {
            content: "Loading Data";
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            letter-spacing: .2em;
            text-align: center;
            left: 0;
            right: 0;
        }

        img[src='#'] {
            display: none;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
            // aspect-ratio: 16/9;
            // filter: grayscale(1);
        }

        &:hover {
            img {
                filter: grayscale(.2);
            }
        }
    }
    .name {
        font-weight: bold;
        font-size: 1.25em;
        color: #AAA;
        margin-bottom: 15px;
        line-height: 1;   
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #FFF;
            }
        }
    }
    .description {
        line-height: 1.3;
        letter-spacing: -0.02em;
        margin-bottom: 15px; 

        :global(& > .markdown-header) {
            margin: 5px 0;
            background-color: #505050;
            color: #000;
            font-weight: bold;
            padding: 2px 10px;
        }
    }
    .details {
        // margin-bottom: 15px;
        .item {
            display: flex;
            margin-bottom: 5px;

            .label, .value {
                line-height: 1.35;
            }

            .label {
                order: 1;
            }

            .value {
                order: 3;
                white-space: nowrap;

                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                    color: #BBB;

                    &:hover {
                        color: #FFF;
                    }
                }
            }

            &::before {
                content: "";
                order: 2;
                flex-basis: 100%;
                border-bottom: 1px dashed #333;
                margin: 0 5px 3px;
            }

        }
    }
    .action-block {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        margin-top: 15px;

        button {
            padding: 6px 0;
            font-size: 12px;

            &:first-child {
                clip-path: polygon(10px 0, 100% 0, 100% 100%, calc(100% - 10px) 100%, 0 100%, 0 10px);
            }
            &:last-child {
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
            }
        }

        .btn {
            flex-basis: 100%;
        }
    }

    .extra-block {
        position: absolute;
        left: calc(100% + 10px);
        height: 400px;
        width: 300px;
        background-color: #111;
        bottom: 0;
        border: 3px solid #aaa;
        padding: 15px;
    }
</style>