<script>
	import { page } from '$app/stores';

    let { profile, session } = $page.data;
    let memberBox;
    let isDropdownOpen = false;

    function toggleMemberDropdown () {
        isDropdownOpen = !isDropdownOpen
    }

    function onWindowClick(e) {
        if (memberBox.contains(e.target) == false)
        isDropdownOpen = false;
    }

</script>

<svelte:window on:click={onWindowClick} />

<div class="member-box" bind:this={memberBox}>
    {#if session}
        <button onclick={toggleMemberDropdown} class="link-hover-effect">{profile.username}</button>
        {#if isDropdownOpen}
        <div class="dropdopwn-box">
            <div class="item email">
                <span>{session.user.email}</span>
            </div>
            <div class="item">
                <a href="/profile/{profile.username}">View profile</a>
            </div>
            <div class="item">
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        {/if}
    {:else}
        <a class="link-hover-effect" href="/sign-in">Sign In</a>
    {/if}
</div>

<style lang="less">
    .member-box {
        position: relative;

        & > button, a {
            all: unset;
            cursor: pointer;
            color: #BBB;

            &:hover {
                color: #EEE;
            }
        }

        .dropdopwn-box {
            background-color: #0a0a0a;
            color: #808080;
            width: 240px;
            border: 1px solid #222;
            position: absolute;
            top: calc(100% + 10px);
            right: 0;
            border-radius: 10px;
            overflow: hidden;
            padding: 4px 0 0;

            .item {
                &:hover {
                    a, button {
                        background-color: #191919;
                    }
                }

                &.email {
                    span {
                        filter: blur(2px);
                    }

                    &:hover {
                        span {
                            filter: none;
                        } 
                    }
                }

                span, a, button {
                    all: unset;
                    display: block;
                    padding: 14px 20px;
                    width: 100%;
                }

                a, button {
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: #EEE;
                    }
                }
            }
        }
    }

</style>