<script>
	import { page } from '$app/stores';
	import { enhance } from '$app/forms';

    const { data: { mapData } } = $page;


    let formData = $state({
        name: '',
        category: 'general',
        visible: true,
        map: mapData.id,
        access: 'guest',
        code_name: ''
    });

    $effect(() => {
        formData.code_name = formData.name
            .split(' ')
            .map((word, index) => {
                if (index === 0) {
                    return word.toLowerCase();
                } else {
                    return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                }
            })
            .join('');
    })

</script>


<div class="sidebar-new-item-wrap">
	<form
        action="?/sidebarAddNewItem"
        method="POST"
        use:enhance={() => {
            console.log('send')

            return async ({ action, formData, formElement, result, update }) => {
                update({ reset: false });
                formData.name = '111';

                if (result.type === 'success') {
                    console.log('success')
                    formData.name = '111';
                    // update({ reset: true });
                }

            };
        }}>
		<div class="row">
			<label for="">Name</label>
			<input type="text" name="name" bind:value={formData.name}>
		</div>
        <div class="row mt-10">
			<label for="">Code name</label>
			<input type="text" name="code_name" bind:value={formData.code_name}>
		</div>
		<div class="row mt-10">
			<label for="">Category</label>
			<input type="text" name="category" bind:value={formData.category}>
		</div>
        <div class="row mt-10">
			<label for="">Turn on by default</label>
			<input type="text" name="visible" bind:value={formData.visible}>
		</div>
        <div class="row mt-10">
			<label for="">Access</label>
			<input type="text" name="access" bind:value={formData.access}>
		</div>
        <div class="row mt-10">
            <button class="btn">
                <span>Save</span>
            </button>
        </div>
        <input type="hidden" name="map" bind:value={formData.map}>
	</form>
</div>


<style lang="less">
    form {
        border: 1px solid #333;
        padding: 14px;
        border-radius: 4px;

        .row {

            label {
                display: block;
                font-size: .7rem;
                color: #555;
            }

            input {
                background-color: #222;
                border: none;
                height: 36px;
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 0 12px;
                border-radius: 3px;
                color: #E0E0E0;

            }
        }
    }
</style>