<script>
    import uniqid from 'uniqid';
    import Typewriter from 'svelte-typewriter'

    const { children, delay = 0, mode = "concurrent", hover = 0 } = $props();

    let mouseOver = $state(uniqid());
    let animationPlayed = $state(false);

    function handlerMouseOver () {
        if (animationPlayed) return;

        console.log('starting mouseover')
        mouseOver = uniqid();
        animationPlayed = true;
    }

    function handlerMouseOut () {
        console.log('mouseout - resetting');
        // mouseOver = false;
        animationPlayed = false; // Скидаємо прапорець при відведенні миші, дозволяючи анімації запуститись знову
    }

</script>


{#if mode == "scramble"}
    <div onmouseover={handlerMouseOver} onmouseout={handlerMouseOut} class="typewriter-wrap">
        {#key mouseOver}
        <Typewriter mode="scramble" scrambleDuration="500" delay={delay}>
            <div>{@render children()}</div>
        </Typewriter>
        {/key}
    </div>
{:else}
    <Typewriter mode="concurrent" interval="20" delay={delay}>
        {@render children()}
    </Typewriter>
{/if}

<style lang="less">
    :global(.typewriter-container) {
        display: inline;
    }
    :global(.finished-typing, .typing) {
        margin: 0 !important;
        line-height: auto !important;
        display: inline;
        // height: 18px;
    }
</style>