<script>
    const { children, text = '', mode = 'hover' } = $props();


    let element = $state(null);
    let basedText = $state(text.split(''));
    let updatedMessage = $state('');
	let message = $state(Array.from(text));

    function pickRandomLetter() {
        const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const randomIndex = Math.floor(Math.random() * alphabet.length);
        return alphabet[randomIndex];
    }

function randomizeText(mode = "sequential") {
    const duration = 100;
    const start = performance.now();
    let order; // Буде використовуватися для визначення порядку індексів


    function step() {
        const elapsed = performance.now() - start;

        if (elapsed < duration) {
            const value = Math.round((elapsed / duration) * message.length);

            for (let i = 0; i < message.length; i++) {
                // Тепер цикл для всіх символів, щоб встановити "_" або оригінальний символ
                message[i] = i < value ? basedText[i] : pickRandomLetter();
            }

            // Потрібно додати код для відображення message, наприклад:
            // document.getElementById("yourElementId").textContent = message.join('');

            requestAnimationFrame(step);
        } else {
            // По завершенню, забезпечуємо, що весь текст відновлено
            // document.getElementById("yourElementId").textContent = basedText.join('');
        }
    }

    step();
}


	// randomizeText()

	

    function onFocus() {
        // basedText = element.innerText;
        randomizeText('This is test')
    }

    function outFocus() {

    }
</script>

<span bind:this={element} onmouseover={onFocus} onmouseout={outFocus}>
    <!-- {@render children()} -->
    {@html message.join('')}
</span>



<style lang="less">
    span {
        &.hover {
            // text-shadow: -1px 0 2px #0ff, 1px 0 2px #f0f;
        }
        

        &::before {
            content: "";
            text-shadow: 0 -4px 4px #0ff;
        }

        &::after {
            content: "";
            text-shadow: 0 4px 4px #f0f;
        }
    }
</style>
