<script>
    import { onMount } from 'svelte';

    const { 
        children, 
        random = false, 
        delay = 0, 
        speed = 1000, 
        duration = 50, 
        hover = false, 
        hoverSpeed = 200 
    } = $props();

    let scrambleDuration = 1000; // тривалість анімації в мілісекундах
    // let randomMode = random;
    let slotContent = $state(null);
    let initial = $state(false);
    let  originalText = $state();
    let timeOut = $state(null);

    $effect(() => {
        if (slotContent) {
            originalText = slotContent.textContent.trim();
            timeOut = setTimeout(() => {
                initial = true;
                scrambleAnimation(speed, duration, random);
            }, delay)
        }

        return () => {
            clearTimeout(timeOut);
        }
    })

    async function scrambleAnimation(speed, duration, random) {
        if (!slotContent) return;

        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz*_.';
        let scrambledText = ''; // Initialize scrambledText outside the loop

        const intervalTime = duration; // Time between each letter change in milliseconds
        const totalSteps = speed / intervalTime; // Calculate the total number of steps based on speed and intervalTime
        let step = 0;

        while (step < totalSteps) {
            let tempText = '';
            for (let i = 0; i < originalText.length; i++) {
                if (originalText[i] === ' ') {
                    tempText += ' '; // Leave spaces unchanged
                } else if (random) {
                    // Random mode: characters are randomly scrambled at each step
                    let shouldScramble = Math.random() > step / totalSteps;
                    tempText += shouldScramble ? characters.charAt(Math.floor(Math.random() * characters.length)) : originalText[i];
                } else {
                    // Linear mode: progressively reveal the original text
                    let progress = Math.ceil((step / totalSteps) * originalText.length);
                    tempText += i < progress ? originalText[i] : characters.charAt(Math.floor(Math.random() * characters.length));
                }
            }

            if (!slotContent) return;
            slotContent.textContent = tempText; // Update the text in the slot

            await new Promise(resolve => setTimeout(resolve, intervalTime));
            step++;
        }

        // Optionally restore the original text at the end of the animation
        slotContent.textContent = originalText;
    }

    function onFocus () {
        // scrambleAnimation(text, speed, random);
        if (hover) {
            scrambleAnimation(hoverSpeed, duration, random);
        }
    }

    function outFocus () {
        // scrambleAnimation(text, speed, random);
    }
</script>

<span bind:this={slotContent} class:hidden={!initial} onmouseover={onFocus} onmouseout={outFocus}>{@render children()}</span>

<style lang="less">
    .hidden {
        visibility: hidden;
    }
</style>
