<script>
    const { title = '', color = '', children } = $props();
</script>
<div class="window-interface-card {color}">
    <div class="card-header">
        <span class="tilde"></span>
        <span>WTM\VIEW\<strong>{title.toUpperCase()}</strong></span>
    </div>
    <div class="card-content">
        <div class="context-before">
            <span>Sequence loaded into system memory</span>
            <span>wtm.process.active</span>
        </div>        
        {@render children()}
        <div class="context-after">
            <span>Operating System Build v2.0.0.245 Build 3</span>
        </div>
    </div>
</div>

<style lang="less" global>
    .window-interface-card {
        width: 94%;
        max-width: 500px;
        z-index: 1;
        font-size: 14px;
        
        border-top: 0;
        border-radius: 2px;
        overflow: hidden;
        margin: 15px 0;
        box-sizing: border-box;
        background-color: rgba(15, 15, 15, .95);
        border: 1px solid rgba(120, 120, 120, .95);
        position: relative;

        &.blue {
            border-color: #488dc5;
            width: 500px;
            background-color: rgb(14 22 28 / 92%);
            
            .card-header {
                background-color: #488dc5;
            }
            .card-content {
                color: #637a8d;

                input, select, textarea {
                    border-color: #637a8d;
                    background-color: #060a0c;
                }
            }
        }


        & > .card-header {
            background-color: rgba(120, 120, 120, .95);
            padding: 20px 10px;
            font-weight: bold;
            color: #111;
            display: flex;
            font-weight: bold;
            height: 56px;
            display: flex;
            align-items: center;

            span {
                &.tilde {
                    border-radius: 3px;
                    // height: 20px;
                    width: 24px;
                    // padding-left: 3px;
                    aspect-ratio: 1;
                    background-color: #000;
                    color: #999;
                    font-size: 1.2rem;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        content: "~";
                        line-height: 1;
                        margin-left: 1px;
                    }
                }

                &:nth-of-type(2) {
                    font-size: 1em;
                    color: #444;

                    strong {
                        color: #000;
                    }
                }

                &:nth-of-type(3) {
                    font-size: .8em;
                    margin-left: auto;
                    align-self: flex-end;
                    color: #444;
                }
            }

        }

        & > .card-content {
            padding: 60px 34px;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            color: #444;

            .context-before {
                content: attr(data-before);
                position: absolute;
                top: 14px;
                left: 14px;
                opacity: .5;
                // color: #000;
                font-size: 10px;
                z-index: 10;
                // white-space: pre;
                // display: inline-block;

                span {
                    display: block;
                }
            }

            .context-after {
                content: "Operating System Build v2.0.0.245 Build 3";
                position: absolute;
                bottom: 14px;
                right: 14px;
                opacity: .5;
                font-size: 10px;
                white-space: pre;
                z-index: 10;
            }

            .title {
                color : #B0B0B0;
                margin-bottom: 1.2em;

                &.size-1 {
                    font-size: 1.35em;
                }

                &.size-2 {
                    font-size: 1.25em;
                }
            }

            .text {
                color : #808080;
            }


            form {
                label {
                    // font-size: 12px;
                    opacity: 1;
                    margin-bottom: 5px;
                    display: block;
                }

                input, textarea {
                    background-color: rgba(0, 0, 0, .65);
                    border: 1px solid #202020;
                    // border: 2px solid #444;
                    padding: 18px;
                    color: #DDD;
                    // font-family: 'Roboto mono';
                    outline: none;
                    width: 100%;
                    box-sizing: border-box;
                    transition: all .1s linear;

                    &:focus {
                        border-color: #444;
                        border-right-width: 6px;
                    }

                    &::placeholder {
                        color: #222;
                    }
                }
            }
        }
    }
</style>